# Job Posting Data Analysis
In this notebook, the group will be working with the [Job Posting in Singapore](https://www.kaggle.com/datasets/techsalerator/job-posting-data-in-singapore) dataset. This dataset will be used for processing, analyzing, and visualizing data.

This project is carried out by the group **DS NERDS**, under Section **S19**, which consists of the following members:
- Colobong, Franz Andrick
- Chu, Andre Benedict M. 
- Pineda, Mark Gabriel A.
- Rocha, Angelo H. 
  
The output fulfills a part of our requirements for the course Statistical Modeling and Simulation (CSMODEL).

# Import Libraries

TO-DO:
Put a brief description for each module used and how it was used in the notebook.

In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

## Dataset Description and Collection Process

This dataset offers a comprehensive overview of job openings across various sectors in Singapore. It provides an essential resource for businesses, job seekers, and labor market analysts, and it can also be a valuable tool for people who would like to be informed about job openings and employment trends in Singapore.

The data was collected by a global data provider called **Techsalerator**, by consolidating and categorizing job-related information from diverse sources, including company websites, job boards, and recruitment agencies. 

Now, let us load the CSV file into our workspace with **'latin1'** encoding as it contains special characters (e.g., é, ñ, ’) that caused a UnicodeDecodeError with the default **'utf-8'** encoding.

In [77]:
job_posting_df = pd.read_csv('Job Posting.csv', encoding='latin1')
job_posting_df.head(200)

,Website Domain,Ticker,Job Opening Title,Job Opening URL,First Seen At,Last Seen At,Location,Location Data,Category,Seniority,...,Description,Salary,Salary Data,Contract Types,Job Status,Job Language,Job Last Processed At,O*NET Code,O*NET Family,O*NET Occupation Name
0,bosch.com,NaN,IN_RBAI_Assistant Manager_Dispensing Process E...,https://jobs.smartrecruiters.com/BoschGroup/74...,2024-05-29T19:59:45Z,2024-07-31T14:35:44Z,"Indiana, United States","[{""city"":null,""state"":""Indiana"",""zip_code"":nul...","engineering, management, support",manager,...,**IN\_RBAI\_Assistant Manager\_Dispensing Proc...,NaN,"{""salary_low"":null,""salary_high"":null,""salary_...",full time,closed,en,2024-08-02T14:47:55Z,43-1011.00,Office and Administrative Support,First-Line Supervisors of Office and Administr...
1,bosch.com,NaN,Professional Internship: Hardware Development ...,https://jobs.smartrecruiters.com/BoschGroup/74...,2024-05-04T01:00:12Z,2024-07-29T17:46:16Z,"Delaware, United States","[{""city"":null,""state"":""Delaware"",""zip_code"":nu...",internship,non_manager,...,**Professional Internship: Hardware Developmen...,NaN,"{""salary_low"":null,""salary_high"":null,""salary_...","full time, internship, m/f",closed,en,2024-07-31T17:50:07Z,17-2061.00,Architecture and Engineering,Computer Hardware Engineers
2,zf.com,NaN,Process Expert BMS Production,https://jobs.zf.com/job/Shenyang-Process-Exper...,2024-04-19T06:47:24Z,2024-05-16T02:25:08Z,China,"[{""city"":null,""state"":null,""zip_code"":null,""co...",engineering,non_manager,...,ZF is a global technology company supplying sy...,NaN,"{""salary_low"":null,""salary_high"":null,""salary_...",NaN,closed,en,2024-05-18T02:32:04Z,51-9141.00,Production,Semiconductor Processing Technicians
3,bosch.com,NaN,DevOps Developer with Python for ADAS Computin...,https://jobs.smartrecruiters.com/BoschGroup/74...,2024-08-16T10:20:37Z,2024-08-22T11:14:49Z,Romania,"[{""city"":null,""state"":null,""zip_code"":null,""co...","information_technology, software_development",non_manager,...,**DevOps Developer with Python for ADAS Comput...,NaN,"{""salary_low"":null,""salary_high"":null,""salary_...",full time,closed,en,2024-08-23T00:33:30Z,15-1252.00,Computer and Mathematical,Software Developers
4,bosch.com,NaN,Senior Engineer Sales - Video Systems and Solu...,https://jobs.smartrecruiters.com/BoschGroup/74...,2024-07-01T17:31:20Z,2024-08-01T05:11:33Z,India,"[{""city"":null,""state"":null,""zip_code"":null,""co...","engineering, sales",non_manager,...,**Senior Engineer Sales - Video Systems and So...,NaN,"{""salary_low"":null,""salary_high"":null,""salary_...",full time,closed,en,2024-08-02T19:03:16Z,41-9031.00,Sales and Related,Sales Engineers

In [78]:
job_posting_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9919 entries, 0 to 9918
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Website Domain         9919 non-null   object
 1   Ticker                 0 non-null      float64
 2   Job Opening Title      9919 non-null   object
 3   Job Opening URL        9919 non-null   object
 4   First Seen At          9919 non-null   object
 5   Last Seen At           9919 non-null   object
 6   Location               9508 non-null   object
 7   Location Data          9919 non-null   object
 8   Category               8250 non-null   object
 9   Seniority              9919 non-null   object
 10  Keywords               7646 non-null   object
 11  Description            9807 non-null   object
 12  Salary                 576 non-null    object
 13  Salary Data            9919 non-null   object
 14  Contract Types         8004 non-null   object
 15  Job Status             6772 non-null   object
 16  Job Language           9917 non-null   object
 17  Job Last Processed At  9919 non-null   object
 18  O*NET Code             9916 non-null   object
 19  O*NET Family           9916 non-null   object
 20  O*NET Occupation Name  9916 non-null   object
dtypes: float64(1), object(20)
memory usage: 1.6+ MB

In [79]:
# Remove Duplicates
job_posting_df = job_posting_df.drop_duplicates()

In [80]:
# Imputation of data without any contract type and location
# Delete rows without a contract type or a location since this is useless for analyzing


print(job_posting_df[[ 'Location', 'Contract Types']].isnull().sum())
print(f"Entries with both missing a Location and a Contract Type: {job_posting_df[['Location', 'Contract Types']].isnull().all(axis=1).sum()}\n")

job_posting_df = job_posting_df.dropna(subset=['Location', 'Contract Types'], how='any')

print(job_posting_df[[ 'Location', 'Contract Types']].isnull().sum())
print(f"Entries with both missing a Location and a Contract Type: {job_posting_df[['Location', 'Contract Types']].isnull().all(axis=1).sum()}")

Location           411
Contract Types    1915
dtype: int64
Entries with both missing a Location and a Contract Type: 30

Location          0
Contract Types    0
dtype: int64
Entries with both missing a Location and a Contract Type: 0

In [81]:
# Check the entries in the dataframe to check if succesful in cleaning
job_posting_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7623 entries, 0 to 9918
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Website Domain         7623 non-null   object
 1   Ticker                 0 non-null      float64
 2   Job Opening Title      7623 non-null   object
 3   Job Opening URL        7623 non-null   object
 4   First Seen At          7623 non-null   object
 5   Last Seen At           7623 non-null   object
 6   Location               7623 non-null   object
 7   Location Data          7623 non-null   object
 8   Category               6396 non-null   object
 9   Seniority              7623 non-null   object
 10  Keywords               6030 non-null   object
 11  Description            7571 non-null   object
 12  Salary                 474 non-null    object
 13  Salary Data            7623 non-null   object
 14  Contract Types         7623 non-null   object
 15  Job Status             5167 non-null   object
 16  Job Language           7622 non-null   object
 17  Job Last Processed At  7623 non-null   object
 18  O*NET Code             7621 non-null   object
 19  O*NET Family           7621 non-null   object
 20  O*NET Occupation Name  7621 non-null   object
dtypes: float64(1), object(20)
memory usage: 1.3+ MB

In [ ]:
# Fixing text fields

# Remove any spaces and make the text into lower case
job_posting_df['O*NET Family'] = job_posting_df['O*NET Family'].str.strip().str.lower()
job_posting_df['Keywords'] = job_posting_df['Keywords'].str.strip().str.lower()
job_posting_df['Category'] = job_posting_df['Category'].str.strip().str.lower()

### Categorizing Data by Seniority, Job Category, Location, and Skills 
Job category was specified through analyzing the contents of the `O*NET Family Column` to specifically find related skills, education, or training that is required in a specific job field. Skills was specified through analyzing the content of the `Keywords Column` to specifically find the skills that often appeared in the dataset. The `unique()` function was used in categorizing all data to reduce redundant results.

In [ ]:
# Check all unique values
unique_values_seniority = job_posting_df['Seniority'].unique()
print(unique_values_seniority)

['manager' 'non_manager' 'director' 'head' 'vice_president' 'c_level'
 'partner' 'president']

In [84]:
# Seniority Categorization
seniority_mapping = {
    'non_manager': 'Non-Managerial Position',
    'manager': 'Managerial Position',
    'director': 'Managerial Position',
    'head': 'Managerial Position',
    'vice_president': 'Executive Position',
    'c_level': 'Executive Position',
    'partner': 'Executive Position',
    'president': 'Executive Position',
}

# Map the values and count categories
seniority_categories = job_posting_df['Seniority'].map(seniority_mapping)
seniority_category_counts = seniority_categories.value_counts().sort_index()

print("Seniority Category Counts:")
print(seniority_category_counts)

Seniority Category Counts:
Seniority
Executive Position           17
Managerial Position        1433
Non-Managerial Position    6173
Name: count, dtype: int64

In [85]:
unique_job_fields = job_posting_df['O*NET Family'].unique()
print(unique_job_fields)

['office and administrative support' 'architecture and engineering'
 'computer and mathematical' 'sales and related'
 'installation, maintenance, and repair'
 'business and financial operations' 'production'
 'life, physical, and social science' 'management'
 'community and social service' 'transportation and material moving'
 'healthcare practitioners and technical' 'personal care and service'
 'educational instruction and library' 'construction and extraction'
 'arts, design, entertainment, sports, and media'
 'food preparation and serving related' 'protective service'
 'military specific' 'legal' 'healthcare support'
 'farming, fishing, and forestry'
 'building and grounds cleaning and maintenance' nan]

In [86]:
job_fields_mapping = {
    'office and administrative support' : 'Business and Administration',
    'architecture and engineering': 'Engineering and Construction',
    'computer and mathematical' : 'Technology',
    'sales and related': 'Business and Administration',    
    'installation, maintenance, and repair': 'Facilities Management and Services',
    'business and financial operations' : 'Business and Administration',
    'production': 'Manufacturing',
    'life, physical, and social science' : 'Science and Research',
    'management': 'Business and Administration',
    'community and social service' : 'Public Service',
    'transportation and material moving': 'Transportation and Logistics',
    'healthcare practitioners and technical' : 'Healthcare',
    'personal care and service': 'Healthcare',
    'educational instruction and library' : 'Education',
    'construction and extraction': 'Engineering and Construction',
    'arts, design, entertainment, sports, and media': 'Multimedia and Sports',
    'food preparation and serving related' : 'Facilities Management and Services',
    'protective service': 'Government and Public Safety',
    'military specific' : 'Government and Public Safety',
    'legal' : 'Legal Services',
    'healthcare support': 'Healthcare',
    'farming, fishing, and forestry': 'Agriculture and Natural Resources',
    'building and grounds cleaning and maintenance': 'Facilities Management and Services', 
    'nan' : 'Others'
}

job_fields_categories = job_posting_df['O*NET Family'].map(job_fields_mapping)
job_fields_category_counts = job_fields_categories.value_counts().sort_index()
print(job_fields_category_counts)

O*NET Family
Agriculture and Natural Resources       12
Business and Administration           2861
Education                              247
Engineering and Construction          1202
Facilities Management and Services     285
Government and Public Safety            53
Healthcare                             238
Legal Services                          18
Manufacturing                          669
Multimedia and Sports                   84
Public Service                          33
Science and Research                   269
Technology                            1342
Transportation and Logistics           308
Name: count, dtype: int64

In [88]:
# Split the locations first
split_locations = job_posting_df['Location'].str.split(',').explode()

# Then find the unique values, these mitigates redundancy a lot
unique_locations = split_locations.str.strip().unique()

print(unique_locations)

['Indiana' 'United States' 'Delaware' 'Romania' 'India' 'Yokohama' 'Japan'
 'Lincolnton' 'North Carolina' '28092' 'Hanau' 'Germany' 'Campinas'
 'Brazil' 'Charleston' 'South Carolina' '29418' 'Tennessee'
 'Fort Lauderdale' 'Florida' '33309' 'Singapore' 'United Kingdom' 'France'
 'Albion' '46701' 'Madrid' 'Spain' 'Bangalore' 'Vietnam' 'Malaysia'
 'Anderson' '29621' 'Debrecen' 'Hungary' 'Pamplona' 'Bursa' 'Turkey'
 'Salzburg' 'Austria' 'Slovenia' 'Vernon Hills' 'Illinois' '60061'
 'London' 'Tokyo' 'Australia' 'Massachusetts' 'Northville' 'Michigan'
 'Portugal' 'Osnabr\x9fck' 'Berlin' 'Budapest' 'Beijing' 'China'
 '_esk\x8e Bud_jovice' 'Czechia' 'Chandler' 'Arizona' '85226'
 'Auburn Hills' '48326' 'Hartland' 'Wisconsin' 'Vilnius' 'Lithuania'
 'Mexico' 'Mississippi' 'Shibuya' 'Dublin' 'Ireland' 'Shanghai' 'Vigo'
 'Houston' 'Texas' '77061' 'Nebraska' 'Barcelona' 'Cz_stochowa' 'Poland'
 'Mount Prospect' '60056' 'Sydney' 'Owatonna' 'Minnesota' '55060'
 'Belgium' 'Aveiro' 'Leverkusen' 'Virginia' 'Passau' 'Bamberg'
 'Bentonville' 'Arkansas' 'South America' 'Bogot\x87' 'Colombia'
 'San Francisco' 'California' 'Georgia' 'Rolla' 'Missouri' '65401'
 'Atlanta' '30336' 'Charlotte' '28273' 'Mankato' '56003' 'Monterrey'
 'Pune' 'Belo Horizonte' 'Chile' 'Bekasi' 'Indonesia' 'Eger' 'Mesa'
 '85212' 'Burnsville' 'Timi_oara' 'Sunnyvale' '94085' 'Pan_evo' 'Serbia'
 'Plymouth' '48170' 'Tuscaloosa' 'Alabama' 'Friedrichshafen' 'Brandenburg'
 'Bethlehem' 'Pennsylvania' '18017' 'Farmington Hills' '48331' 'Bucharest'
 'Chennai' 'Lafayette' '47904' 'Maine' 'Thailand' 'Hannover' 'Villa Park'
 '60181' 'Niagara' 'New York' 'Fairport' '14450' 'Denver' 'Colorado'
 'Utrecht' 'Netherlands' 'Nederland' 'Chihuahua' 'Armenia' 'August'
 'S\x8bo Paulo' 'Nevada' 'Wartburg' '37887' 'Ponte de Lima' 'Washington'
 '48094' 'Buford' '30518' 'Minneapolis' 'Gothenburg' 'Sweden' 'Rayong'
 'Stuttgart' 'Egypt' 'Greece' 'Koblenz' 'Ghana' 'Hanoi' 'Northern America'
 'Europe' 'Plze_' 'Paris' 'Dortmund' '55337' 'Chengdu' 'Bitterfeld'
 'Neuwied' 'Canada' 'Morocco' 'Boston' 'Pleasanton' '94566' 'Guangzhou'
 'Suzhou' 'Marysville' 'Anderlecht' 'Stamford' 'Connecticut'
 'Saarbr\x9fcken' 'Denmark' 'Celaya' 'Florence' 'Kentucky' '41042'
 'Istanbul' 'Hoffman Estates' '60192' 'Changsha' 'Linz' 'New Zealand'
 'Manisa' 'Almaty' 'Kazakhstan' 'Fountain Inn' '29644' 'Oak Brook'
 'Walnut Ridge' '72476' 'Louisiana' 'Mexico City' 'Pforzheim'
 'Quer\x8etaro' 'Ju\x87rez' 'Idaho' 'Livonia' '48150' 'Ansbach'
 'Watertown' '02472' 'Eisenach' '_zmir' 'Braunschweig' 'Italy' 'Changzhou'
 'Atlantic' 'Iowa' 'Wroc_aw' 'South Dakota' 'Auckland' 'Grove City' 'Ohio'
 '43123' 'Trnava' 'Slovakia' 'Caen' 'San Luis Potos\x92' 'South Africa'
 'Southern Africa' 'Ho Chi Minh City' 'Switzerland' 'Garrett' 'Warsaw'
 'Chicago' 'Dresden' 'Santa Fe' 'Argentina' 'Bh_vnagar' 'Allentown'
 'Saint Joseph' '49085' '53029' 'Tulsa' 'Oklahoma' 'Mechelen' 'Amsterdam'
 'D\x9fsseldorf' 'Saitama' 'Gainesville' 'Eindhoven' 'Petaling Jaya'
 'Nottingham' 'Roseville' '95747' 'Memphis' 'Shelby' '28152' 'Manila'
 'Philippines' 'North Charleston' 'Coimbatore' 'Ingolstadt' 'Greenville'
 '29645' 'Munster' 'Braga' 'Cartago' 'Costa Rica' 'Flowery Branch' '30542'
 'Corpus Christi' '78406' 'Dayton' 'Aachen' 'Tampa' '33607' 'Laredo'
 '78045' '30324' 'Tsuchiura' 'Braselton' 'Bonn' 'Lincolnshire' '60069'
 'Austin' 'Philadelphia' 'Rio Bravo' 'Brits' 'Castelo Branco' 'Anna'
 'Port Huron' 'Wuhan' 'Cali' 'Raleigh' 'Heilbronn' 'Conshohocken' '19428'
 'Jacksonville' 'Kecskem\x8et' 'Straubing' 'Summerville' '29483'
 'G\x97mez Palacio' 'Reutlingen' 'Toluca' 'Nasushiobara'
 'District of Columbia' 'Reynosa' 'Klagenfurt' 'Jiaxing' 'Brussels'
 'Vernon' 'Guadalajara' 'Ankara' 'Hyder_b_d' 'Jersey City' 'New Jersey'
 'Bochum' 'Bayreuth' 'Antwerp' 'Sofia' 'Bulgaria' 'Phoenix' 'Hangzhou'
 'Socorro' '79927' 'New Hampshire' 'Pittsburgh' '15222' 'Decatur' '62441'
 'Sri Lanka' 'Montana' 'Detroit' 'Windsor' 'Novi Sad' 'Miami' 'Jamshedpur'
 'Solihull' 'Mechanicsville' '23111' 'Bengaluru' 'El Paso' 'Auburn'
 'Frankfurt' 'Campo Grande' '02215' 'Oeiras' 'Greer' '29651' 'Calama'
 'Puteaux' 'Gelsenkirchen' 'Kocaeli' '48040' 'Schweinfurt' 'Sakarya'
 'Innsbruck' 'Sumar\x8e' 'Seattle' 'C_l_ra_i' 'Qingdao' '48073' 'Asia'
 'Panama' 'Grand Rapids' '49512' 'Bourges' 'Brno' 'Czech Republic'
 'Saint Paul' '55127' 'Z\x9frich' 'Duncan' 'Baltimore' 'Maryland' 'CA'
 'Craiova' 'Burlington' '95678' 'High Point' '27263' 'Welcome'
 'Set\x9cbal' 'Wetzlar' 'Bern' 'Dornbirn' 'Salamanca' 'Vienna' 'Faro'
 'Ambato' 'Ecuador' 'Lancaster' 'Chongqing' 'Ramos Arizpe' 'Santa Barbara'
 'Munich' 'Bologna' 'Finland' 'Zwolle' 'Milan' 'Oregon' 'Tlaquepaque'
 'Magdeburg' 'Immenstadt' 'Hebron' '41048' 'Chad' 'Czech' 'Lisbon'
 'Hawaii' 'Gliwice' 'Ravensburg' 'Augsburg' 'Sibiu' 'Dubai'
 'United Arab Emirates' '11433' 'Salt Lake City' 'Utah' 'Allen Park'
 '48101' 'San Antonio' 'Santa Fe Springs' 'Athens' '90670' 'Fridley'
 '55421' 'San' 'Mali' 'Kalamazoo' '49009' 'Amiens' 'Antofagasta'
 'Edmonton' 'Alberta' 'Bandung' 'Kranj' 'Morrisville' '19067'
 'Gaithersburg' '20878' 'Weihai' 'Jaipur' '30501' 'Bras\x92lia' '17601'
 'Los Angeles' 'San Diego' 'R_jkot' 'Jamaica' '11430' 'Lincoln' '68507'
 'LA' 'Dallas' 'Vermont' 'Peru' '46970' 'Prague' 'Fenton' '48430' 'Porto'
 'Londonderry' '03053' 'Hamamatsu' 'Miramar' 'B_li' 'Mooresville' '28117'
 '18020' 'Vernier' 'Turin' 'Wilmington' '28405' 'Busan' 'South Korea'
 'Graz' '35401' 'Aschaffenburg' 'Zaria' 'Nigeria'
 'S\x8bo Bernardo do Campo' 'Shah Alam' 'Trujillo' 'Leipzig' 'Unity'
 'Belgrade' 'Portland' 'Hagen' 'Alicante' 'Viseu' 'Toyota' 'Bielefeld'
 'Wuxi' 'Alexandria' 'Wilde' 'Orlando' 'Lille' 'Sacramento' 'Arras' 'Mut'
 '48836' 'Vila Real' 'Accra' 'Southampton' '18966' 'Kaunas' 'Bordeaux'
 'Gie§en' 'Bratislava' 'North America' 'Tochigi']

In [89]:
# Locations mapped into countries; this includes streets, cities, zip codes
locations_mapping = {
    'Indiana': 'United States',
    'United States': 'United States',
    'Delaware': 'United States',
    'Romania': 'Romania',
    'India': 'India',
    'Yokohama': 'Japan',
    'Japan': 'Japan',
    'Lincolnton': 'United States',
    'North Carolina': 'United States',
    '28092': 'United States',
    'Hanau': 'Germany',
    'Germany': 'Germany',
    'Campinas': 'Brazil',
    'Brazil': 'Brazil',
    'Charleston': 'United States',
    'South Carolina': 'United States',
    '29418': 'United States',
    'Tennessee': 'United States',
    'Fort Lauderdale': 'United States',
    'Florida': 'United States',
    '33309': 'United States',
    'Singapore': 'Singapore',
    'United Kingdom': 'United Kingdom',
    'France': 'France',
    'Albion': 'United States',
    '46701': 'United States',
    'Madrid': 'Spain',
    'Spain': 'Spain',
    'Bangalore': 'India',
    'Vietnam': 'Vietnam',
    'Malaysia': 'Malaysia',
    'Anderson': 'United States',
    '29621': 'United States',
    'Debrecen': 'Hungary',
    'Hungary': 'Hungary',
    'Pamplona': 'Spain',
    'Bursa': 'Turkey',
    'Turkey': 'Turkey',
    'Salzburg': 'Austria',
    'Austria': 'Austria',
    'Slovenia': 'Slovenia',
    'Vernon Hills': 'United States',
    'Illinois': 'United States',
    '60061': 'United States',
    'London': 'United Kingdom',
    'Tokyo': 'Japan',
    'Australia': 'Australia',
    'Massachusetts': 'United States',
    'Northville': 'United States',
    'Michigan': 'United States',
    'Portugal': 'Portugal',
    'Osnabrück': 'Germany',
    'Berlin': 'Germany',
    'Budapest': 'Hungary',
    'Beijing': 'China',
    'China': 'China',
    'České Budějovice': 'Czechia',
    'Czechia': 'Czechia',
    'Chandler': 'United States',
    'Arizona': 'United States',
    '85226': 'United States',
    'Auburn Hills': 'United States',
    '48326': 'United States',
    'Hartland': 'United States',
    'Wisconsin': 'United States',
    'Vilnius': 'Lithuania',
    'Lithuania': 'Lithuania',
    'Mexico': 'Mexico',
    'Mississippi': 'United States',
    'Shibuya': 'Japan',
    'Dublin': 'Ireland',
    'Ireland': 'Ireland',
    'Shanghai': 'China',
    'Vigo': 'Spain',
    'Houston': 'United States',
    'Texas': 'United States',
    '77061': 'United States',
    'Nebraska': 'United States',
    'Barcelona': 'Spain',
    'Częstochowa': 'Poland',
    'Poland': 'Poland',
    'Mount Prospect': 'United States',
    '60056': 'United States',
    'Sydney': 'Australia',
    'Owatonna': 'United States',
    'Minnesota': 'United States',
    '55060': 'United States',
    'Belgium': 'Belgium',
    'Aveiro': 'Portugal',
    'Leverkusen': 'Germany',
    'Virginia': 'United States',
    'Passau': 'Germany',
    'Bamberg': 'Germany',
    'Bentonville': 'United States',
    'Arkansas': 'United States',
    'South America': 'Colombia',
    'Bogotá': 'Colombia',
    'Colombia': 'Colombia',
    'San Francisco': 'United States',
    'California': 'United States',
    'Georgia': 'United States',
    'Rolla': 'United States',
    'Missouri': 'United States',
    '65401': 'United States',
    'Atlanta': 'United States',
    '30336': 'United States',
    'Charlotte': 'United States',
    '28273': 'United States',
    'Mankato': 'United States',
    '56003': 'United States',
    'Monterrey': 'Mexico',
    'Pune': 'India',
    'Belo Horizonte': 'Brazil',
    'Chile': 'Chile',
    'Bekasi': 'Indonesia',
    'Indonesia': 'Indonesia',
    'Eger': 'Hungary',
    'Mesa': 'United States',
    '85212': 'United States',
    'Burnsville': 'United States',
    'Timișoara': 'Romania',
    'Sunnyvale': 'United States',
    '94085': 'United States',
    'Pančevo': 'Serbia',
    'Serbia': 'Serbia',
    'Plymouth': 'United States',
    '48170': 'United States',
    'Tuscaloosa': 'United States',
    'Alabama': 'United States',
    'Friedrichshafen': 'Germany',
    'Brandenburg': 'Germany',
    'Bethlehem': 'United States',
    'Pennsylvania': 'United States',
    '18017': 'United States',
    'Farmington Hills': 'United States',
    '48331': 'United States',
    'Bucharest': 'Romania',
    'Chennai': 'India',
    'Lafayette': 'United States',
    'Hannover': 'Germany',
    'Villa Park': 'United States',
    '47904': 'United States',
    'Maine': 'United States',
    'Thailand': 'Thailand',
    '60181': 'United States',
    'Niagara': 'United States',
    'New York': 'United States',
    'Fairport': 'United States',
    '14450': 'United States',
    'Denver': 'United States',
    'Colorado': 'United States',
    'Utrecht': 'Netherlands',
    'Netherlands': 'Netherlands',
    'Nederland': 'Netherlands',
    'Chihuahua': 'Mexico',
    'Armenia': 'Armenia',
    'August': 'United States',
    'São Paulo': 'Brazil',
    'Nevada': 'United States',
    'Wartburg': 'United States',
    '37887': 'United States',
    'Ponte de Lima': 'Portugal',
    'Washington': 'United States',
    '48094': 'United States',
    'Buford': 'United States',
    '30518': 'United States',
    'Minneapolis': 'United States',
    'Gothenburg': 'Sweden',
    'Sweden': 'Sweden',
    'Rayong': 'Thailand',
    'Stuttgart': 'Germany',
    'Egypt': 'Egypt',
    'Greece': 'Greece',
    'Koblenz': 'Germany',
    'Ghana': 'Ghana',
    'Hanoi': 'Vietnam',
    'Northern America': 'United States',
    'Europe': 'Germany',
    'Plzeň': 'Czechia',
    'Paris': 'France',
    'Dortmund': 'Germany',
    '55337': 'United States',
    'Chengdu': 'China',
    'Bitterfeld': 'Germany',
    'Neuwied': 'Germany',
    'Canada': 'Canada',
    'Morocco': 'Morocco',
    'Boston': 'United States',
    'Pleasanton': 'United States',
    '94566': 'United States',
    'Guangzhou': 'China',
    'Suzhou': 'China',
    'Marysville': 'United States',
    'Anderlecht': 'Belgium',
    'Stamford': 'United States',
    'Connecticut': 'United States',
    'Saarbrücken': 'Germany',
    'Denmark': 'Denmark',
    'Celaya': 'Mexico',
    'Florence': 'United States',
    'Kentucky': 'United States',
    '41042': 'United States',
    'Istanbul': 'Turkey',
    'Hoffman Estates': 'United States',
    '60192': 'United States',
    'Changsha': 'China',
    'Linz': 'Austria',
    'New Zealand': 'New Zealand',
    'Manisa': 'Turkey',
    'Almaty': 'Kazakhstan',
    'Kazakhstan': 'Kazakhstan',
    'Fountain Inn': 'United States',
    '29644': 'United States',
    'Oak Brook': 'United States',
    'Walnut Ridge': 'United States',
    '72476': 'United States',
    'Louisiana': 'United States',
    'Mexico City': 'Mexico',
    'Pforzheim': 'Germany',
    'Querétaro': 'Mexico',
    'Juárez': 'Mexico',
    'Idaho': 'United States',
    'Livonia': 'United States',
    '48150': 'United States',
    'Ansbach': 'Germany',
    'Watertown': 'United States',
    '02472': 'United States',
    'Eisenach': 'Germany',
    'İzmir': 'Turkey',
    'Braunschweig': 'Germany',
    'Italy': 'Italy',
    'Changzhou': 'China',
    'Atlantic': 'United States',
    'Iowa': 'United States',
    'Wrocław': 'Poland',
    'South Dakota': 'United States',
    'Auckland': 'New Zealand',
    'Grove City': 'United States',
    'Ohio': 'United States',
    '43123': 'United States',
    'Trnava': 'Slovakia',
    'Slovakia': 'Slovakia',
    'Caen': 'France',
    'San Luis Potosí': 'Mexico',
    'South Africa': 'South Africa',
    'Southern Africa': 'South Africa',
    'Ho Chi Minh City': 'Vietnam',
    'Switzerland': 'Switzerland',
    'Garrett': 'United States',
    'Warsaw': 'Poland',
    'Chicago': 'United States',
    'Dresden': 'Germany',
    'Santa Fe': 'United States',
    '': 'United States',
    'Argentina': 'Argentina',
    'Bhāvnagar': 'India',
    'Allentown': 'United States',
    'Saint Joseph': 'United States',
    '49085': 'United States',
    '53029': 'Germany',
    'Tulsa': 'United States',
    'Oklahoma': 'United States',
    'Mechelen': 'Belgium',
    'Amsterdam': 'Netherlands',
    'Düsseldorf': 'Germany',
    'Saitama': 'Japan',
    'Gainesville': 'United States',
    'Eindhoven': 'Netherlands',
    'Petaling Jaya': 'Malaysia',
    'Nottingham': 'United Kingdom',
    'Roseville': 'United States',
    '95747': 'United States',
    'Memphis': 'United States',
    'Shelby': 'United States',
    '28152': 'United States',
    'Manila': 'Philippines',
    'Philippines': 'Philippines',
    'North Charleston': 'United States',
    'Coimbatore': 'India',
    'Ingolstadt': 'Germany',
    'Greenville': 'United States',
    '29645': 'United States',
    'Munster': 'Germany',
    'Braga': 'Portugal',
    'Cartago': 'Costa Rica',
    'Costa Rica': 'Costa Rica',
    'Flowery Branch': 'United States',
    '30542': 'United States',
    'Corpus Christi': 'United States',
    '78406': 'United States',
    'Dayton': 'United States',
    'Aachen': 'Germany',
    'Tampa': 'United States',
    '33607': 'United States',
    'Laredo': 'United States',
    '78045': 'United States',
    '30324': 'United States',
    'Tsuchiura': 'Japan',
    'Braselton': 'United States',
    'Bonn': 'Germany',
    'Lincolnshire': 'United States',
    '60069': 'United States',
    'Austin': 'United States',
    'Philadelphia': 'United States',
    'Rio Bravo': 'Mexico',
    'Brits': 'South Africa',
    'Castelo Branco': 'Portugal',
    'Anna': 'United States',
    'Port Huron': 'United States',
    'Wuhan': 'China',
    'Cali': 'Colombia',
    'Raleigh': 'United States',
    'Heilbronn': 'Germany',
    'Conshohocken': 'United States',
    '19428': 'United States',
    'Jacksonville': 'United States',
    'Kecskemét': 'Hungary',
    'Straubing': 'Germany',
    'Summerville': 'United States',
    '29483': 'United States',
    'Gómez Palacio': 'Mexico',
    'Reutlingen': 'Germany',
    'Toluca': 'Mexico',
    'Nasushiobara': 'Japan',
    'District of Columbia': 'United States',
    'Reynosa': 'Mexico',
    'Klagenfurt': 'Austria',
    'Jiaxing': 'China',
    'Brussels': 'Belgium',
    'Vernon': 'United States',
    'Guadalajara': 'Mexico',
    'Ankara': 'Turkey',
    'Hyderābād': 'India',
    'Jersey City': 'United States',
    'New Jersey': 'United States',
    'Bochum': 'Germany',
    'Bayreuth': 'Germany',
    'Antwerp': 'Belgium',
    'Sofia': 'Bulgaria',
    'Bulgaria': 'Bulgaria',
    'Phoenix': 'United States',
    'Hangzhou': 'China',
    'Socorro': 'United States',
    '79927': 'United States',
    'New Hampshire': 'United States',
    'Pittsburgh': 'United States',
    '15222': 'United States',
    'Decatur': 'United States',
    '62441': 'United States',
    'Sri Lanka': 'Sri Lanka',
    'Montana': 'United States',
    'Detroit': 'United States',
    'Windsor': 'Canada',
    'Novi Sad': 'Serbia',
    'Miami': 'United States',
    'Jamshedpur': 'India',
    'Solihull': 'United Kingdom',
    'Mechanicsville': 'United States',
    '23111': 'United States',
    'Bengaluru': 'India',
    'El Paso': 'United States',
    'Auburn': 'United States',
    'Frankfurt': 'Germany',
    'Campo Grande': 'Brazil',
    '02215': 'United States',
    'Oeiras': 'Portugal',
    'Greer': 'United States',
    '29651': 'United States',
    'Calama': 'Chile',
    'Puteaux': 'France',
    'Gelsenkirchen': 'Germany',
    'Kocaeli': 'Turkey',
    '48040': 'United States',
    'Schweinfurt': 'Germany',
    'Sakarya': 'Turkey',
    'Innsbruck': 'Austria',
    'Sumaré': 'Brazil',
    'Seattle': 'United States',
    'Cluj-Napoca': 'Romania',
    'Qingdao': 'China',
    '48073': 'United States',
    'Asia': 'China',
    'Panama': 'Panama',
    'Grand Rapids': 'United States',
    '49512': 'United States',
    'Bourges': 'France',
    'Brno': 'Czechia',
    'Czech Republic': 'Czechia',
    'Saint Paul': 'United States',
    '55127': 'United States',
    'Zürich': 'Switzerland',
    'Duncan': 'United States',
    'Baltimore': 'United States',
    'Maryland': 'United States',
    'CA': 'United States',
    'Craiova': 'Romania',
    'Burlington': 'United States',
    '95678': 'United States',
    'High Point': 'United States',
    '27263': 'United States',
    'Welcome': 'United States',
    'Setúbal': 'Portugal',
    'Wetzlar': 'Germany',
    'Bern': 'Switzerland',
    'Dornbirn': 'Austria',
    'Salamanca': 'Spain',
    'Vienna': 'Austria',
    'Faro': 'Portugal',
    'Ambato': 'Ecuador',
    'Ecuador': 'Ecuador',
    'Lancaster': 'United States',
    'Chongqing': 'China',
    'Ramos Arizpe': 'Mexico',
    'Santa Barbara': 'United States',
    'Munich': 'Germany',
    'Bologna': 'Italy',
    'Finland': 'Finland',
    'Zwolle': 'Netherlands',
    'Milan': 'Italy',
    'Oregon': 'United States',
    'Tlaquepaque': 'Mexico',
    'Magdeburg': 'Germany',
    'Immenstadt': 'Germany',
    'Hebron': 'United States',
    '41048': 'United States',
    'Chad': 'Chad',
    'Czech': 'Czechia',
    'Lisbon': 'Portugal',
    'Hawaii': 'United States',
    'Gliwice': 'Poland',
    'Ravensburg': 'Germany',
    'Augsburg': 'Germany',
    'Sibiu': 'Romania',
    'Dubai': 'United Arab Emirates',
    'United Arab Emirates': 'United Arab Emirates',
    '11433': 'United States',
    'Salt Lake City': 'United States',
    'Utah': 'United States',
    'Allen Park': 'United States',
    '48101': 'United States',
    'San Antonio': 'United States',
    'Santa Fe Springs': 'United States',
    'Athens': 'Greece',
    '90670': 'United States',
    'Fridley': 'United States',
    '55421': 'United States',
    'San': 'United States',
    'Mali': 'Mali',
    'Kalamazoo': 'United States',
    '49009': 'United States',
    'Amiens': 'France',
    'Antofagasta': 'Chile',
    'Edmonton': 'Canada',
    'Alberta': 'Canada',
    'Bandung': 'Indonesia',
    'Kranj': 'Slovenia',
    'Morrisville': 'United States',
    '19067': 'United States',
    'Gaithersburg': 'United States',
    '20878': 'United States',
    'Weihai': 'China',
    'Jaipur': 'India',
    '30501': 'United States',
    'Brasília': 'Brazil',
    '17601': 'United States',
    'Los Angeles': 'United States',
    'San Diego': 'United States',
    'Rājkot': 'India',
    'Jamaica': 'Jamaica',
    '11430': 'United States',
    'Lincoln': 'United States',
    '68507': 'United States',
    'LA': 'United States',
    'Dallas': 'United States',
    'Vermont': 'United States',
    'Peru': 'Peru',
    '46970': 'United States',
    'Prague': 'Czechia',
    'Fenton': 'United States',
    '48430': 'United States',
    'Porto': 'Portugal',
    'Londonderry': 'United States',
    '03053': 'United States',
    'Hamamatsu': 'Japan',
    'Miramar': 'United States',
    'Bāli': 'India',
    'Mooresville': 'United States',
    '28117': 'United States',
    '18020': 'United States',
    'Vernier': 'Switzerland',
    'Turin': 'Italy',
    'Wilmington': 'United States',
    '28405': 'United States',
    'Busan': 'South Korea',
    'South Korea': 'South Korea',
    'Graz': 'Austria',
    '35401': 'United States',
    'Aschaffenburg': 'Germany',
    'Zaria': 'Nigeria',
    'Nigeria': 'Nigeria',
    'São Bernardo do Campo': 'Brazil',
    'Shah Alam': 'Malaysia',
    'Trujillo': 'Peru',
    'Leipzig': 'Germany',
    'Unity': 'United States',
    'Belgrade': 'Serbia',
    'Portland': 'United States',
    'Hagen': 'Germany',
    'Alicante': 'Spain',
    'Viseu': 'Portugal',
    'Toyota': 'Japan',
    'Bielefeld': 'Germany',
    'Wuxi': 'China',
    'Alexandria': 'Egypt',
    'Wilde': 'Argentina',
    'Orlando': 'United States',
    'Lille': 'France',
    'Sacramento': 'United States',
    'Arras': 'France',
    'Mut': 'Turkey',
    '48836': 'United States',
    'Vila Real': 'Portugal',
    'Accra': 'Ghana',
    'Southampton': 'United States',
    '18966': 'United States',
    'Kaunas': 'Lithuania',
    'Bordeaux': 'France',
    'Gießen': 'Germany',
    'Bratislava': 'Slovakia',
    'North America': 'United States',
    'Tochigi': 'Japan'
}

location_categories = job_posting_df['Location'].map(locations_mapping)
location_category_counts = location_categories.value_counts().sort_index()

print("Location by Continent - Countries Involved Count:")
print(location_category_counts)

Location by Continent - Countries Involved Count:
Location
Armenia             1
Australia          29
Austria            19
Belgium            25
Brazil             74
Bulgaria            1
Canada              5
Chad                2
Chile               1
China               9
Colombia            1
Costa Rica          2
Czechia            53
Denmark            56
Egypt              13
Finland             4
France             11
Germany           256
Ghana               2
Greece              3
Hungary            16
India             317
Indonesia           2
Ireland            15
Italy              20
Japan              93
Malaysia           98
Mexico            130
Morocco            20
Netherlands        22
New Zealand         4
Nigeria             1
Panama              2
Poland             74
Portugal          139
Romania           109
Serbia             60
Slovakia           13
Slovenia           50
Spain              21
Sri Lanka           1
Switzerland         9
Thailand           40
Turkey              2
United Kingdom     37
United States      31
Vietnam            38
Name: count, dtype: int64

In [90]:
# Split the locations first
split_keywords = job_posting_df['Keywords'].str.split(',').explode()

# Then find the unique values, these mitigates redundancy a lot
unique_keywords = split_keywords.str.strip().unique()

print(unique_keywords)

[nan 'scrum' 'github' 'jenkins' 'growth' 'c++' 'linux' 'python'
 'microsoft azure' 'docker' 'business development' 'internship'
 'ecommerce' 'sap successfactors' 'e-commerce' 'servicenow' 'microsoft'
 'sap' 'cognex' 'omron' 'call center' 'hris' 'salesforce' 'social media'
 'customer success' 'contentful' 'gainsight' 'facebook' 'linkedin'
 'agorapulse' 'teamtailor' '.net' 'c#' 'angular' 'android' 'java' 'gerrit'
 'kotlin' 'power bi' 'keyence' 'bmc remedy' 'databricks'
 'azure databricks' 'microsoft excel' 'microsoft teams' 'simulink' 'novi'
 'kanban' 'real estate' 'microsoft word' 'sap s/4hana' 'informatica'
 'atlassian' 'atlassian jira' 'splunk' 'matlab' 'selenium' 'gradle'
 'postman' 'javascript' 'successfactors' 'qualtrics' 'microsoft 365'
 'contractor' 'branding' 'outbound' 'glassdoor' 'websocket' 'sigfox'
 'json' 'django' 'ansible' 'kubernetes' 'marketing campaigns' 'front-end'
 'back-end' 'angularjs' 'node.js' 'php' 'ruby' 'gatsby' 'graphql' 'remix'
 'informa' 'hubspot' 'microsoft sql server' 'celonis' 'abap' 'oracle'
 'sap erp' 'sap abap' 'sap hana' 'ibm aix' 'seo' 'google analytics'
 'optimizely' 'google' 'google optimize' 'semrush' 'xamarin' 'pinterest'
 'youtube' 'workday payroll' 'adobe creative suite' 'advertising'
 'display marketing' 'adobe photoshop' 'adobe'
 'sap product lifecycle management' 'mx' 'j2ee' 'apache tomcat'
 'primefaces' 'ativo' 'gitlab' 'ranorex' 'minitab' 'office 365' 'flask'
 'tensorflow' 'mongodb' 'nosql' 'zoom' 'prospecting' 'sales prospecting'
 'cognigy' 'suse' 'vmware' 'postgresql' 'windows server' 'commvault'
 'emc networker' 'rubrik' 'react' 'typescript' 'ios'
 'continuous deployment' 'appium' 'azure devops' 'redux' 'google cloud'
 'autocad' 'mysql' 'sap financial accounting' 'meister' 'arduino' 'centro'
 'copywriter' 'adobe indesign' 'macos' 'microsoft defender' 'martech'
 'microsoft asp.net' 'bitbucket' 'blazor' 'perl' 'automation anywhere'
 'uipath' 'stata' 'commercetools' 'lucene' 'solr' 'elasticsearch'
 'opensearch' 'pytorch' 'pfs' 'blockchain' 'ionic' 'ui/ux' 'bem' 'ubuntu'
 'sqlite' 'virtualbox' 'rabbitmq' 'zeromq' 'delphi' 'jda' 'blue yonder'
 'ansys' 'sap sales' 'sonarqube' 'nginx' 'sap s/4hana finance'
 'sap controlling' 'alteryx' 'talend' 'labview' 'bt' 'microsoft power bi'
 'whatsapp' 'swimlane' 'uml' 'sap fiori' 'nextgen' 'artifactory' 'salto'
 'hadoop' 'scala' 'gitlab ci' 'apache spark' 'apache airflow' 'skype'
 'sap crm' 'hashicorp consul' 'atento' 'agosto' 'figma' 'jupyter'
 'cloudera' 'qlikview' 'catia' 'sap erp central component (ecc)'
 'sap analytics cloud' 'google kubernetes engine' 'grafana'
 'microsoft.net' 'primeng' 'microsoft signalr' 'windchill'
 'adobe illustrator' 'spring framework' 'scikit-learn' 'full time job'
 'ibm' 'sas' 'debian' 'icinga' 'smartrecruiters' 'vue.js' 'new relic'
 'rxjs' 'appdynamics' 'svelte' 'spring boot' 'tricentis' 'drupal' 'jekyll'
 'sitecore' 'circleci' 'contentstack' 'microsoft powerpoint'
 'sap bw/4hana' 'cutover' 'apache hadoop' 'git' 'cvs' 'twitter'
 'microsoft windows server' 'content marketing' 'dell' 'nunit' 'venda'
 'cisco' 'planisware' 'kerberos' 'centricity' 'support hero' 'timesheets'
 'dhl' 'fedex' 'ups' 'windows 11' 'ams' 'openstack'
 'google cloud platform' 'bootstrap' 'pwa' 'jquery' 'oracle database'
 'autodesk' 'sap master data governance' 'ext js' 'openid connect'
 'account based marketing' 'demand generation' 'marketo' 'concur'
 'sap cloud platform' 'boomi' 'adp' 'outsystems' 'axure' 'unity3d'
 'webstorm' 'como' 'automic' 'ethereum' 'ethers' 'nette framework'
 'mariadb' 'citrix' 'unix' 'microsoft system center' 'kinaxis' 'keyless'
 'personio' 'conceptboard' 'microsoft power apps' 'juniper networks'
 'thingworx' 'oracle enterprise manager' 'html' 'buildout'
 'android studio' 'webpack' 'coupa' 'sap ariba' 'wonderlic' 'dbt'
 'netezza' 'numpy' 'microsoft outlook' 'altium' 'autodesk eagle'
 'cyberark' 'sap materials management' 'infoblox' 'microsoft dynamics'
 'cropping' 'adobe premiere pro' 'aps' 'sap netweaver'
 'sap strategic enterprise management' 'microsoft active directory'
 'sales enablement' 'snowflake' 'sap hybris' 'algolia' 'bynder' 'vercel'
 'owasp' 'moodle' 'google workspace' 'tableau prep' 'carta' 'mobx'
 'archimate' 'stripe' 'recurly' 'chargebee' 'netcore' 'redis' 'quickbooks'
 'oracle cloud' 'metadata' 'swc' 'plotly' 'dataiku' 'google my business'
 'methode' 'tandem' 'hyperion' 'objective-c' 'recognize'
 'sap business warehouse' 'vmware esxi' 'go' 'azure stream analytics'
 'webmethods' 'microsoft dynamics 365' 'shopify' 'vodafone'
 'sap sales and distribution' 'weights & biases' 'angular material'
 'zuora' 'cogent communications' 'mobileiron' 'sap warehouse management'
 'engagez' 'hootsuite' 'ns1' 'borlabs cookie' 'microsoft advertising'
 'leadfeeder' 'grpc' 'autodesk revit' 'kronos' 'bizzabo' 'demandbase'
 'sendoso' 'hopin' 'provenexpert' 'cisco catalyst' 'cisco nexus' 'canva'
 'netsuite' 'mulesoft anypoint platform' 'dataweave' 'openssl'
 'sap treasury and risk management' 'oracle exadata' 'glpi' 'goanywhere'
 'post-production' 'apache kafka' 'brt' 'salesforce marketing cloud'
 'fortinet' 'amazon web services' 'datasphere' 'salsify' 'boundary'
 'ibm planning analytics' 'kahoot' 'sap quality management'
 'adobe framemaker' 'microsoft visual studio' 'jonas' 'dynatrace'
 'sap solution manager' 'conveyor' 'google adwords' 'google ads'
 'ibm cognos analytics' 'ibm cognos tm1' 'demandware'
 'salesforce commerce cloud' 'vue storefront' 'adobe captivate'
 'prometheus' 'cloudflare' 'azure kubernetes service' 'laravel'
 'visual basic .net' 'ukg' 'azure pipelines' 'azure synapse analytics'
 'azure sql' 'metrics driven' 'sap grc' 'vite' 'mapbox' 'xslt' 'cuda'
 'visual studio code' 'okta' 'microsoft intune' 'sap lumira' 'k2' 'junit'
 'konica minolta' 'couchbase' 'jira service desk' 'iis' 'rms' 'webrtc'
 'eclipse ide' 'microsoft dynamics crm' 'ptc creo' '1password'
 'teradata analytics platform' 'aws iot' 'outreach.io' 'insightsquared'
 'linkedin sales navigator' 'zoominfo' 'microsoft sharepoint'
 'avid pro tools' 'google sheets' 'google drive' 'northstar' 'blackline'
 'churnzero' 'planhat' 'atlassian bitbucket' 'jboss' 'solidity' 'sybase'
 'sap data migration' 'amazon rds' 'aws lambda' 'amazon ecs' 'edenred'
 'apache jmeter' 'aos' 'articulate 360' 'smartsheet' 'adobe xd'
 'adobe after effects' 'facebook ads' 'covisint' 'adobe acrobat dc'
 'next.js' 'hydrogen' 'jetpack' 'outreach' 'wordpress' 'ahrefs' 'trello'
 'webflow' 'asana' 'looker' 'apache flink' 'amazon advertising' 'cobol'
 'microstrategy' 'fivetran' 'dart' 'workstream' 'sieben' 'c' 'mui'
 'robot framework' 'microsoft sharepoint online'
 'microsoft power automate' 'corel' 'dreamweaver' 'paintshop pro'
 'azure monitor' 'azure artifacts' 'azure boards' 'sap enable now' 'rss'
 'mlflow' 'walkme' 'sourcetree' 'genesys' 'dx']

In [91]:
keywords_skills_mapping = {

    # Programming Languages
    'c++': 'Programming Languages',
    'python': 'Programming Languages',
    'c#': 'Programming Languages',
    'java': 'Programming Languages',
    'kotlin': 'Programming Languages',
    'javascript': 'Programming Languages',
    'php': 'Programming Languages',
    'ruby': 'Programming Languages',
    'abap': 'Programming Languages',
    'go': 'Programming Languages',
    'typescript': 'Programming Languages',
    'perl': 'Programming Languages',
    'dart': 'Programming Languages',
    'c': 'Programming Languages',
    'cobol': 'Programming Languages',
    'objective-c': 'Programming Languages',
    'scala': 'Programming Languages',
    'solidity': 'Programming Languages',
    'visual basic .net': 'Programming Languages',  
    
    # Frameworks & Libraries
    '.net': 'Frameworks & Libraries',
    'angular': 'Frameworks & Libraries',
    'django': 'Frameworks & Libraries',
    'node.js': 'Frameworks & Libraries',
    'angularjs': 'Frameworks & Libraries',
    'react': 'Frameworks & Libraries',
    'spring framework': 'Frameworks & Libraries',
    'spring boot': 'Frameworks & Libraries',
    'flask': 'Frameworks & Libraries',
    'jquery': 'Frameworks & Libraries',
    'vue.js': 'Frameworks & Libraries',
    'laravel': 'Frameworks & Libraries',
    'gatsby': 'Frameworks & Libraries',
    'graphql': 'Frameworks & Libraries',
    'remix': 'Frameworks & Libraries',
    'primefaces': 'Frameworks & Libraries',
    'blazor': 'Frameworks & Libraries',
    'rxjs': 'Frameworks & Libraries',
    'svelte': 'Frameworks & Libraries',
    'drupal': 'Frameworks & Libraries',
    'jekyll': 'Frameworks & Libraries',
    'bootstrap': 'Frameworks & Libraries',
    'ext js': 'Frameworks & Libraries',
    'next.js': 'Frameworks & Libraries',
    'mui': 'Frameworks & Libraries',
    'primeng': 'Frameworks & Libraries',
    'scikit-learn': 'Frameworks & Libraries',
    'pytorch': 'Frameworks & Libraries',
    'tensorflow': 'Frameworks & Libraries',
    'ionic': 'Frameworks & Libraries',
    'j2ee': 'Frameworks & Libraries',
    'junit': 'Frameworks & Libraries',
    'nunit': 'Frameworks & Libraries',
    'redux': 'Frameworks & Libraries',
    'nette framework': 'Frameworks & Libraries',
    
    # Tools & Platforms
    'github': 'Tools & Platforms',
    'gitlab': 'Tools & Platforms',
    'jenkins': 'Tools & Platforms',
    'docker': 'Tools & Platforms',
    'kubernetes': 'Tools & Platforms',
    'ansible': 'Tools & Platforms',
    'postman': 'Tools & Platforms',
    'selenium': 'Tools & Platforms',
    'appium': 'Tools & Platforms',
    'gradle': 'Tools & Platforms',
    'gerrit': 'Tools & Platforms',
    'ranorex': 'Tools & Platforms',
    'splunk': 'Tools & Platforms',
    'matlab': 'Tools & Platforms',
    'minitab': 'Tools & Platforms',
    'autocad': 'Tools & Platforms',
    'arduino': 'Tools & Platforms',
    'stata': 'Tools & Platforms',
    'labview': 'Tools & Platforms',
    'simulink': 'Tools & Platforms',
    'ansys': 'Tools & Platforms',
    'catia': 'Tools & Platforms',
    'ptc creo': 'Tools & Platforms',
    'android studio': 'Tools & Platforms',
    'visual studio code': 'Tools & Platforms',
    'eclipse ide': 'Tools & Platforms',
    'microsoft visual studio': 'Tools & Platforms',
    'autodesk eagle': 'Tools & Platforms',
    'autodesk revit': 'Tools & Platforms',
    'corel': 'Tools & Platforms',
    'dreamweaver': 'Tools & Platforms',
    'paintshop pro': 'Tools & Platforms',
    'sourcetree': 'Tools & Platforms',
    'webstorm': 'Tools & Platforms',
    'robot framework': 'Tools & Platforms',
    
    # Cloud Services
    'microsoft azure': 'Cloud Services',
    'azure devops': 'Cloud Services',
    'google cloud': 'Cloud Services',
    'amazon web services': 'Cloud Services',
    'google cloud platform': 'Cloud Services',
    'oracle cloud': 'Cloud Services',
    'azure stream analytics': 'Cloud Services',
    'azure kubernetes service': 'Cloud Services',
    'azure pipelines': 'Cloud Services',
    'azure synapse analytics': 'Cloud Services',
    'azure sql': 'Cloud Services',
    'azure artifacts': 'Cloud Services',
    'azure boards': 'Cloud Services',
    'azure monitor': 'Cloud Services',
    'google kubernetes engine': 'Cloud Services',
    'aws iot': 'Cloud Services',
    'aws lambda': 'Cloud Services',
    'amazon ecs': 'Cloud Services',
    'amazon rds': 'Cloud Services',
    'google workspace': 'Cloud Services',
    
    # Databases
    'mysql': 'Databases',
    'mongodb': 'Databases',
    'postgresql': 'Databases',
    'oracle database': 'Databases',
    'microsoft sql server': 'Databases',
    'nosql': 'Databases',
    'sqlite': 'Databases',
    'couchbase': 'Databases',
    'redis': 'Databases',
    'netezza': 'Databases',
    'teradata analytics platform': 'Databases',
    'sybase': 'Databases',
    'mariadb': 'Databases',
    
    # Operating Systems
    'linux': 'Operating Systems',
    'windows server': 'Operating Systems',
    'macos': 'Operating Systems',
    'ubuntu': 'Operating Systems',
    'ibm aix': 'Operating Systems',
    'debian': 'Operating Systems',
    'unix': 'Operating Systems',
    'windows 11': 'Operating Systems',
    'suse': 'Operating Systems',
    'vmware esxi': 'Operating Systems',
    
    # DevOps & CI/CD
    'continuous deployment': 'DevOps & CI/CD',
    'git': 'DevOps & CI/CD',
    'gitlab ci': 'DevOps & CI/CD',
    'circleci': 'DevOps & CI/CD',
    'jenkins': 'DevOps & CI/CD',  
    'docker': 'DevOps & CI/CD',  
    'kubernetes': 'DevOps & CI/CD',  
    'ansible': 'DevOps & CI/CD',  
    'gradle': 'DevOps & CI/CD',  
    
    # ERP & Business Software
    'sap': 'ERP & Business Software',
    'sap successfactors': 'ERP & Business Software',
    'sap s/4hana': 'ERP & Business Software',
    'sap hana': 'ERP & Business Software',
    'sap erp': 'ERP & Business Software',
    'sap abap': 'ERP & Business Software',
    'sap financial accounting': 'ERP & Business Software',
    'sap sales': 'ERP & Business Software',
    'sap controlling': 'ERP & Business Software',
    'sap fiori': 'ERP & Business Software',
    'sap crm': 'ERP & Business Software',
    'sap analytics cloud': 'ERP & Business Software',
    'sap bw/4hana': 'ERP & Business Software',
    'sap netweaver': 'ERP & Business Software',
    'sap strategic enterprise management': 'ERP & Business Software',
    'sap materials management': 'ERP & Business Software',
    'sap treasury and risk management': 'ERP & Business Software',
    'sap quality management': 'ERP & Business Software',
    'sap solution manager': 'ERP & Business Software',
    'sap lumira': 'ERP & Business Software',
    'sap data migration': 'ERP & Business Software',
    'sap master data governance': 'ERP & Business Software',
    'sap cloud platform': 'ERP & Business Software',
    'sap grc': 'ERP & Business Software',
    'sap enable now': 'ERP & Business Software',
    'sap business warehouse': 'ERP & Business Software',
    'sap warehouse management': 'ERP & Business Software',
    'sap sales and distribution': 'ERP & Business Software',
    'sap ariba': 'ERP & Business Software',
    'sap hybris': 'ERP & Business Software',
    'oracle': 'ERP & Business Software',
    'netsuite': 'ERP & Business Software',
    'microsoft dynamics': 'ERP & Business Software',
    'microsoft dynamics 365': 'ERP & Business Software',
    'microsoft dynamics crm': 'ERP & Business Software',
    'workday payroll': 'ERP & Business Software',
    'adp': 'ERP & Business Software',
    'ukg': 'ERP & Business Software',
    'kronos': 'ERP & Business Software',
    'coupa': 'ERP & Business Software',
    'celonis': 'ERP & Business Software',
    'alteryx': 'ERP & Business Software',
    'talend': 'ERP & Business Software',
    'informatica': 'ERP & Business Software',
    
    # CRM
    'salesforce': 'CRM',
    'salesforce commerce cloud': 'CRM',
    'salesforce marketing cloud': 'CRM',
    'hubspot': 'CRM',
    'gainsight': 'CRM',
    
    # CMS & Web Platforms
    'wordpress': 'CMS & Web Platforms',
    'drupal': 'CMS & Web Platforms',
    'sitecore': 'CMS & Web Platforms',
    'contentful': 'CMS & Web Platforms',
    'contentstack': 'CMS & Web Platforms',
    'shopify': 'CMS & Web Platforms',
    'webflow': 'CMS & Web Platforms',
    
    # Marketing & Social Media Tools
    'google analytics': 'Marketing & Social Media Tools',
    'google ads': 'Marketing & Social Media Tools',
    'google adwords': 'Marketing & Social Media Tools',
    'facebook ads': 'Marketing & Social Media Tools',
    'linkedin': 'Marketing & Social Media Tools',
    'agorapulse': 'Marketing & Social Media Tools',
    'hootsuite': 'Marketing & Social Media Tools',
    'semrush': 'Marketing & Social Media Tools',
    'ahrefs': 'Marketing & Social Media Tools',
    'marketo': 'Marketing & Social Media Tools',
    'hubspot': 'Marketing & Social Media Tools',  
    'pinterest': 'Marketing & Social Media Tools',
    'youtube': 'Marketing & Social Media Tools',
    'optimizely': 'Marketing & Social Media Tools',
    'google optimize': 'Marketing & Social Media Tools',
    'google my business': 'Marketing & Social Media Tools',
    'linkedin sales navigator': 'Marketing & Social Media Tools',
    'zoominfo': 'Marketing & Social Media Tools',
    'outreach.io': 'Marketing & Social Media Tools',
    'demandbase': 'Marketing & Social Media Tools',
    'sendoso': 'Marketing & Social Media Tools',
    'account based marketing': 'Marketing & Social Media Tools',
    'demand generation': 'Marketing & Social Media Tools',
    'content marketing': 'Marketing & Social Media Tools',
    'seo': 'Marketing & Social Media Tools',
    
    # Design Tools
    'figma': 'Design Tools',
    'adobe creative suite': 'Design Tools',
    'adobe photoshop': 'Design Tools',
    'adobe indesign': 'Design Tools',
    'adobe illustrator': 'Design Tools',
    'adobe xd': 'Design Tools',
    'adobe after effects': 'Design Tools',
    'adobe acrobat dc': 'Design Tools',
    'adobe premiere pro': 'Design Tools',
    'adobe captivate': 'Design Tools',
    'adobe framemaker': 'Design Tools',
    'canva': 'Design Tools',
    
    # Project Management
    'jira': 'Project Management',
    'trello': 'Project Management',
    'asana': 'Project Management',
    'smartsheet': 'Project Management',
    'microsoft teams': 'Project Management',
    'conceptboard': 'Project Management',
    'cutover': 'Project Management',
    'kanban': 'Project Management',
    'scrum': 'Project Management',
    
    # Networking & Security
    'cisco': 'Networking & Security',
    'cisco catalyst': 'Networking & Security',
    'cisco nexus': 'Networking & Security',
    'fortinet': 'Networking & Security',
    'vmware': 'Networking & Security',
    'kerberos': 'Networking & Security',
    'openstack': 'Networking & Security',
    'cloudflare': 'Networking & Security',
    'okta': 'Networking & Security',
    'cyberark': 'Networking & Security',
    'microsoft defender': 'Networking & Security',
    'microsoft intune': 'Networking & Security',
    'hashicorp consul': 'Networking & Security',
    'infoblox': 'Networking & Security',
    'ns1': 'Networking & Security',
    'openssl': 'Networking & Security',
    'owasp': 'Networking & Security',
    'zeromq': 'Networking & Security',
    
    # Analytics & BI
    'power bi': 'Analytics & BI',
    'tableau prep': 'Analytics & BI',  
    'qlikview': 'Analytics & BI',
    'looker': 'Analytics & BI',
    'microstrategy': 'Analytics & BI',
    'sas': 'Analytics & BI',
    'numpy': 'Analytics & BI',
    'plotly': 'Analytics & BI',
    'dataiku': 'Analytics & BI',
    'apache spark': 'Analytics & BI',
    'apache flink': 'Analytics & BI',
    'apache kafka': 'Analytics & BI',
    'grafana': 'Analytics & BI',
    'prometheus': 'Analytics & BI',
    'qualtrics': 'Analytics & BI',
    
    # Hardware
    'cognex': 'Hardware',
    'omron': 'Hardware',
    'keyence': 'Hardware',
    'arduino': 'Hardware',  
    
    # Methodologies
    'scrum': 'Methodologies', 
    'growth': 'Methodologies',
    'metrics driven': 'Methodologies',
    
    # Other
    'call center': 'Other',
    'hris': 'Other',
    'social media': 'Other',
    'customer success': 'Other',
    'internship': 'Other',
    'ecommerce': 'Other',
    'e-commerce': 'Other',
    'business development': 'Other',
    'real estate': 'Other',
    'contractor': 'Other',
    'branding': 'Other',
    'outbound': 'Other',
    'marketing campaigns': 'Other',
    'front-end': 'Other',
    'back-end': 'Other',
    'ui/ux': 'Other',
    'bem': 'Other',
    'prospecting': 'Other',
    'sales prospecting': 'Other',
    'copywriter': 'Other',
    'martech': 'Other',
    'blockchain': 'Other',
    'pfs': 'Other',
    'uml': 'Other',
    'json': 'Other',
    'websocket': 'Other',
    'sigfox': 'Other',
    'rss': 'Other',
    'dx': 'Other',
    'full time job': 'Other',
    'cropping': 'Other',
    'post-production': 'Other',
    'timesheets': 'Other',
    'metadata': 'Other',
    'swc': 'Other',
    'vite': 'Other',
    'xslt': 'Other',
    'cuda': 'Other',
    'webrtc': 'Other',
    'openid connect': 'Other',
    'grpc': 'Other',
    'rabbitmq': 'Other',
    'apache tomcat': 'Other',
    'apache jmeter': 'Other',
    'apache airflow': 'Other',
    'apache hadoop': 'Other',
    'lucene': 'Other',
    'solr': 'Other',
    'elasticsearch': 'Other',
    'opensearch': 'Other',
    'mlflow': 'Other',
    'dbt': 'Other',
    'walkme': 'Other',
    'jupyter': 'Other',
    'cloudera': 'Other',
    'databricks': 'Other',
    'azure databricks': 'Other',
    'snowflake': 'Other',
    'hadoop': 'Other',
    'atlassian': 'Other',
    'atlassian jira': 'Other',
    'atlassian bitbucket': 'Other',
    'concur': 'Other',
    'servicenow': 'Other',
    'bmc remedy': 'Other',
    'microsoft excel': 'Other',
    'microsoft word': 'Other',
    'microsoft powerpoint': 'Other',
    'microsoft outlook': 'Other',
    'microsoft 365': 'Other',
    'office 365': 'Other',
    'microsoft power bi': 'Other',
    'microsoft power apps': 'Other',
    'microsoft power automate': 'Other',
    'microsoft sharepoint': 'Other',
    'microsoft sharepoint online': 'Other',
    'microsoft active directory': 'Other',
    'microsoft system center': 'Other',
    'microsoft advertising': 'Other',
    'microsoft signalr': 'Other',
    'microsoft.net': 'Other',
    'google sheets': 'Other',
    'google drive': 'Other',
    'zoom': 'Other',
    'skype': 'Other',
    'whatsapp': 'Other',
    'glassdoor': 'Other',
    'cvs': 'Other',
    'windchill': 'Other',
    'centro': 'Other',
    'meister': 'Other',
    'novi': 'Other',
    'ativo': 'Other',
    'como': 'Other',
    'venda': 'Other',
    'ams': 'Other',
    'brt': 'Other',
    'aos': 'Other',
    'rms': 'Other',
    'iis': 'Other',
    'nginx': 'Other',
    'jboss': 'Other',
    'webmethods': 'Other',
    'outsystems': 'Other',
    'axure': 'Other',
    'unity3d': 'Other',
    'pwa': 'Other',
    'jda': 'Other',
    'blue yonder': 'Other',
    'kinaxis': 'Other',
    'personio': 'Other',
    'swimlane': 'Other',
    'tricentis': 'Other',
    'cognigy': 'Other',
    'genesys': 'Other',
    'dhl': 'Other',
    'fedex': 'Other',
    'ups': 'Other',
    'vodafone': 'Other',
    'bt': 'Other',
    'juniper networks': 'Other',
    'thingworx': 'Other',
    'oracle enterprise manager': 'Other',
    'glpi': 'Other',
    'goanywhere': 'Other',
    'carta': 'Other',
    'mobx': 'Other',
    'archimate': 'Other',
    'stripe': 'Other',
    'recurly': 'Other',
    'chargebee': 'Other',
    'netcore': 'Other',
    'quickbooks': 'Other',
    'hyperion': 'Other',
    'recognize': 'Other',
    'engagez': 'Other',
    'borlabs cookie': 'Other',
    'leadfeeder': 'Other',
    'bizzabo': 'Other',
    'hopin': 'Other',
    'provenexpert': 'Other',
    'salsify': 'Other',
    'boundary': 'Other',
    'kahoot': 'Other',
    'jonas': 'Other',
    'dynatrace': 'Other',
    'conveyor': 'Other',
    'demandware': 'Other',
    'vue storefront': 'Other',
    'northstar': 'Other',
    'blackline': 'Other',
    'churnzero': 'Other',
    'planhat': 'Other',
    'salto': 'Other',
    'nextgen': 'Other',
    'artifactory': 'Other',
    'sonarqube': 'Other',
    'icinga': 'Other',
    'new relic': 'Other',
    'appdynamics': 'Other',
    'smartrecruiters': 'Other',
    'workstream': 'Other',
    'edenred': 'Other',
    'articulate 360': 'Other',
    'covisint': 'Other',
    'hydrogen': 'Other',
    'jetpack': 'Other',
    'outreach': 'Other',
    'fivetran': 'Other',  
    'sieben': 'Other',
    'buildout': 'Other',
    'wonderlic': 'Other',
    'methode': 'Other',
    'tandem': 'Other',
    'datasphere': 'Other',
    'weights & biases': 'Other',
    'zuora': 'Other',
    'cogent communications': 'Other',
    'mobileiron': 'Other',
    '1password': 'Other',
    'insightsquared': 'Other',
    'avid pro tools': 'Other',
    'boomi': 'Other',
    'mulesoft anypoint platform': 'Other',
    'dataweave': 'Other',
    'oracle exadata': 'Other',
    'centricity': 'Other',
    'support hero': 'Other',
    'keyless': 'Other',
    'automic': 'Other',
    'ethereum': 'Other',
    'ethers': 'Other',
    'citrix': 'Other',
    'planisware': 'Other',
    'commercetools': 'Other',
    'atento': 'Other',
    'agosto': 'Other',
    'informa': 'Other',
}


keywordsSkills_categories = job_posting_df['Keywords'].map(keywords_skills_mapping)
keywords_skills_counts = keywordsSkills_categories.value_counts().sort_index()
print("Keywords often mentioned in job posts - Sorted through skills:")
print(keywords_skills_counts)

Keywords often mentioned in job posts - Sorted through skills:
Keywords
Analytics & BI                      70
CRM                                  4
Cloud Services                       6
Databases                            4
Design Tools                         2
DevOps & CI/CD                      11
ERP & Business Software           1092
Frameworks & Libraries               1
Hardware                            19
Marketing & Social Media Tools       1
Methodologies                      176
Networking & Security               13
Operating Systems                    6
Other                              517
Programming Languages               67
Project Management                   5
Tools & Platforms                   79
Name: count, dtype: int64

## Potential Implications of the Data

## Structure of the Data

## Key Data Fields

This section provides a brief description of the key attributes present in the dataset:


- **Job Posting Date**: Captures the date a job is listed. This is crucial for job seekers and HR professionals to stay updated on the latest opportunities and trends.

- **Job Title**: Specifies the position being advertised. This helps in categorizing and filtering job openings based on industry roles and career interests.

- **Company Name**: Lists the hiring company. This information assists job seekers in targeting their applications and helps businesses track competitors and market trends.

- **Job Location**: Provides the job's geographic location within Singapore. Job seekers use this to find opportunities in specific areas, while employers analyze regional talent and market conditions.

- **Job Description**: Includes details about responsibilities, required qualifications, and other relevant aspects. This is vital for candidates to determine if they meet the requirements and for recruiters to communicate expectations clearly.

In [664]:
key_data_fields = job_posting_df[['First Seen At', 'Job Opening Title', 'Job Opening URL', 'Location', 'Description']]
key_data_fields.head()

,First Seen At,Job Opening Title,Job Opening URL,Location,Description
0,2024-05-29T19:59:45Z,IN_RBAI_Assistant Manager_Dispensing Process E...,https://jobs.smartrecruiters.com/BoschGroup/74...,"Indiana, United States",**IN\_RBAI\_Assistant Manager\_Dispensing Proc...
1,2024-05-04T01:00:12Z,Professional Internship: Hardware Development ...,https://jobs.smartrecruiters.com/BoschGroup/74...,"Delaware, United States",**Professional Internship: Hardware Developmen...
2,2024-04-19T06:47:24Z,Process Expert BMS Production,https://jobs.zf.com/job/Shenyang-Process-Exper...,China,ZF is a global technology company supplying sy...
3,2024-08-16T10:20:37Z,DevOps Developer with Python for ADAS Computin...,https://jobs.smartrecruiters.com/BoschGroup/74...,Romania,**DevOps Developer with Python for ADAS Comput...
4,2024-07-01T17:31:20Z,Senior Engineer Sales - Video Systems and Solu...,https://jobs.smartrecruiters.com/BoschGroup/74...,India,**Senior Engineer Sales - Video Systems and So...

Now, we will check for missing or null values in the dataset. Upon inspection, we can see that the **`Ticker`** column—referring to the stock ticker symbol of the company that posted the job—contains only null values.

Since this column provides no usable information for analysis or modeling, we can safely drop it from the dataset.

In [665]:
# Check the Ticker column
null_count = job_posting_df['Ticker'].isna().sum()
print("Unique Values:", job_posting_df['Ticker'].unique())
print(f"Number of null values: {null_count}")

# Drop the column
job_posting_df = job_posting_df.drop(columns=['Ticker'])

Unique Values: [nan]
Number of null values: 9919

Now, we will check the **`Salary Data`** column to understand the details included in the salary information for each job posting. To avoid modifying the original `job_posting_df`, we will create a copy and store it in `salary_df`. This allows us to safely transform and clean the salary-related data without affecting the source DataFrame.

In [666]:
salary_df = job_posting_df.copy()
salary_df['Salary Data']

0       {"salary_low":null,"salary_high":null,"salary_...
1       {"salary_low":null,"salary_high":null,"salary_...
2       {"salary_low":null,"salary_high":null,"salary_...
3       {"salary_low":null,"salary_high":null,"salary_...
4       {"salary_low":null,"salary_high":null,"salary_...
                              ...
9914    {"salary_low":null,"salary_high":null,"salary_...
9915    {"salary_low":null,"salary_high":null,"salary_...
9916    {"salary_low":null,"salary_high":null,"salary_...
9917    {"salary_low":null,"salary_high":null,"salary_...
9918    {"salary_low":null,"salary_high":null,"salary_...
Name: Salary Data, Length: 9919, dtype: object

Upon inspection, we notice that the salary descriptions are stored as **JSON objects**—but currently in the form of **JSON strings**.

To make this data usable, we will:

1. **Parse** each string into a Python dictionary.
2. **Normalize** the dictionary so that each key becomes its own separate column in the DataFrame.

This will give us a clearer structure, allowing us to inspect and clean salary values more effectively.

In [680]:
salary_df = job_posting_df.copy()

# Parse json object into a dictionary
salary_df['Salary Data'] = salary_df['Salary Data'].apply(
    lambda x: json.loads(x) if isinstance(x, str) else x
)

# Normalize Salary Data into new columns and remove rows with null values
salary_df = pd.json_normalize(salary_df['Salary Data'])
salary_df

,salary_low,salary_high,salary_currency,salary_low_usd,salary_high_usd,salary_time_unit
0,NaN,NaN,None,NaN,NaN,None
1,NaN,NaN,None,NaN,NaN,None
2,NaN,NaN,None,NaN,NaN,None
3,NaN,NaN,None,NaN,NaN,None
4,NaN,NaN,None,NaN,NaN,None
...,...,...,...,...,...,...
9914,NaN,NaN,None,NaN,NaN,None
9915,NaN,NaN,None,NaN,NaN,None
9916,NaN,NaN,None,NaN,NaN,None
9917,NaN,NaN,None,NaN,NaN,None
9918,NaN,NaN,None,NaN,NaN,None

By running `salary_df.info()`, we can observe that out of thousands of job postings, only **434** entries contain salary-related information. 

Since salary is a critical detail when analyzing job data, we want to ensure our next steps focus only on entries where salary is provided. To simplify our cleaning process, we will **temporarily drop rows with null values** for salary-related fields.

In [681]:
salary_df.info() 

# Drop rows with any null values
salary_df.dropna(inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9919 entries, 0 to 9918
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   salary_low        434 non-null    float64
 1   salary_high       434 non-null    float64
 2   salary_currency   434 non-null    object
 3   salary_low_usd    434 non-null    float64
 4   salary_high_usd   434 non-null    float64
 5   salary_time_unit  434 non-null    object
dtypes: float64(4), object(2)
memory usage: 465.1+ KB

Now that we've removed rows with null values, we can inspect the unique values present in each field. 

In particular, the **`salary_currency`** column contains two distinct values: **USD** and **EUR**.

In [682]:
salary_df['salary_currency'].value_counts()

salary_currency
USD    291
EUR    143
Name: count, dtype: int64

After checking the `salary_currency` field, we observe that most job salaries are already in **USD**. 

To ensure consistency in our analysis, we will normalize the data by converting all **EUR** salaries to **USD** using the exchange rate as of **June 17, 2025**:

- **1 EUR = 1.15 USD**

This conversion allows us to compare salaries more accurately and ensures uniformity across the dataset.

In [684]:
# Define conversion rate from EUR to USD
conversion_rate = 1.15

# Convert EUR to USD
for index, row in salary_df.iterrows():
    if row['salary_currency'] == 'EUR':
        salary_df.loc[index, 'salary_low'] = row['salary_low'] * conversion_rate
        salary_df.loc[index, 'salary_high'] = row['salary_high'] * conversion_rate
        salary_df.loc[index, 'salary_currency'] = 'USD'

# Drop redundant salary column 
salary_df.drop(columns=['salary_low_usd', 'salary_high_usd'], inplace=True, errors='ignore')

salary_df

      salary_low  salary_high salary_currency salary_time_unit
31         49.45        49.45             USD             hour
33      34437.90     34437.90             USD             year
166    171000.00    190000.00             USD             year
177        19.50        19.50             USD             hour
213    234062.00    245000.00             USD             year
...          ...          ...             ...              ...
9624     1087.90      1087.90             USD            month
9652       43.00        66.00             USD             hour
9758       16.50        16.50             USD             hour
9772    42262.50     42262.50             USD             year
9782       49.45        49.45             USD             hour

[434 rows x 4 columns]

Now that all the salaries are represented in **USD**, we can focus on the `salary_time_unit` column, which is categorized into three values: **hour**, **month**, and **year**. These indicate how each salary is paid.

In [685]:
salary_df['salary_time_unit'].value_counts()

salary_time_unit
year     245
hour     132
month     57
Name: count, dtype: int64

We notice that most salaries are already given on an **annual basis**. To maintain consistency and enable easier comparisons, we will convert all salaries to **annual salary**.

#### Conversion Formulas:
- **Monthly to Annual**:
  - `annual_salary = monthly_salary * 12`

- **Hourly to Annual** (assuming a standard 9-to-5 schedule):
  - `hours_per_week = 40`
  - `weeks_per_year = 52`
  - `hourly_to_annual = 40 * 52 = 2080`

In [686]:
# Conversion factors
monthly_to_annual = 12
hours_per_week = 40
weeks_per_year = 52
hourly_to_annual = hours_per_week * weeks_per_year  # 40 * 52 = 2080

for index, row in salary_df.iterrows():
    # Convert hourly salaries to annual
    if (row['salary_time_unit'] == 'hour'):
        salary_df.loc[index, 'salary_low'] = row['salary_low'] * hourly_to_annual
        salary_df.loc[index, 'salary_high'] = row['salary_high'] * hourly_to_annual
        salary_df.loc[index, 'salary_time_unit'] = 'year'
    
    # Convert monthly salaries to annual
    elif (row['salary_time_unit'] == 'month'):
        salary_df.loc[index, 'salary_low'] = row['salary_low'] * monthly_to_annual
        salary_df.loc[index, 'salary_high'] = row['salary_high'] * monthly_to_annual
        salary_df.loc[index, 'salary_time_unit'] = 'year'

    # Retain annual salaries
    else:
        salary_df.loc[index, 'salary_low'] = row['salary_low']
        salary_df.loc[index, 'salary_high'] = row['salary_high']

salary_df

      salary_low  salary_high salary_currency salary_time_unit
31      102856.0     102856.0             USD             year
33       34437.9      34437.9             USD             year
166     171000.0     190000.0             USD             year
177      40560.0      40560.0             USD             year
213     234062.0     245000.0             USD             year
...          ...          ...             ...              ...
9624     13054.8      13054.8             USD             year
9652     89440.0     137280.0             USD             year
9758     34320.0      34320.0             USD             year
9772     42262.5      42262.5             USD             year
9782    102856.0     102856.0             USD             year

[434 rows x 4 columns]

Now that all salaries are in the same currency (**USD**) and time unit (**annual**), we can focus on the `salary_low` and `salary_high` fields.

These two fields represent the **lower and upper bounds** of the offered salary range. To simplify the analysis and create a single representative salary value, we will take the **mean** of these two values.

This gives us a new column, `annual_salary`, which reflects the average offered salary for the job.

In [688]:
salary_df['annual_salary'] = (salary_df[['salary_low', 'salary_high']].mean(axis=1))
salary_df

      salary_low  salary_high salary_currency salary_time_unit  annual_salary
31      102856.0     102856.0             USD             year       102856.0
33       34437.9      34437.9             USD             year        34437.9
166     171000.0     190000.0             USD             year       180500.0
177      40560.0      40560.0             USD             year        40560.0
213     234062.0     245000.0             USD             year       239531.0
...          ...          ...             ...              ...            ...
9624     13054.8      13054.8             USD             year        13054.8
9652     89440.0     137280.0             USD             year       113360.0
9758     34320.0      34320.0             USD             year        34320.0
9772     42262.5      42262.5             USD             year        42262.5
9782    102856.0     102856.0             USD             year       102856.0

[434 rows x 5 columns]

Now that we've created the `annual_salary` column, the original fields—`salary_low`, `salary_high`, `salary_currency`, and `salary_time_unit`—are no longer needed for further analysis.

To clean up the DataFrame and simplify its structure, we will drop these columns.

In [689]:
salary_df.drop(columns=['salary_low', 'salary_high', 'salary_currency', 'salary_time_unit'], inplace=True)
salary_df

      annual_salary
31         102856.0
33          34437.9
166        180500.0
177         40560.0
213        239531.0
...             ...
9624        13054.8
9652       113360.0
9758        34320.0
9772        42262.5
9782       102856.0

[434 rows x 1 columns]

Now that we've cleaned and normalized the salary information into a single `annual_salary` column, we can integrate it back into the original `job_posting_df`.

We will assign this as a new column called `Annual_Salary`, allowing us to analyze job postings alongside their corresponding annual salaries.

In [690]:
# Add the annual salary to the original job_posting_df
job_posting_df['Annual_Salary'] = salary_df['annual_salary']
job_posting_df[job_posting_df['Annual_Salary'].notnull()]

,Website Domain,Job Opening Title,Job Opening URL,First Seen At,Last Seen At,Location,Location Data,Category,Seniority,Keywords,...,Salary,Salary Data,Contract Types,Job Status,Job Language,Job Last Processed At,O*NET Code,O*NET Family,O*NET Occupation Name,Annual_Salary
31,zf.com,Test Driver (m/f/d),https://jobs.zf.com/job/Mutliva-Baja-Test-Driv...,2024-04-22T21:04:16Z,2024-05-07T01:52:44Z,"Pamplona, Spain","[{""city"":""Pamplona"",""state"":null,""zip_code"":nu...","quality_assurance, manual_work",non_manager,NaN,...,ZF reported sales of Û43,"{""salary_low"":43.0,""salary_high"":43.0,""salary_...",m/f,closed,en,2024-05-09T01:57:38Z,53-3032.00,Transportation and Material Moving,Heavy and Tractor-Trailer Truck Drivers,102856.0
33,bosch.com,Praktikum Projektmanagement im technischen Ein...,https://jobs.smartrecruiters.com/BoschGroup/74...,2024-03-29T10:39:29Z,2024-07-18T03:17:52Z,"Salzburg, Austria","[{""city"":""Salzburg"",""state"":null,""zip_code"":nu...","internship, management, purchasing",manager,SAP,...,"Das Bruttogehalt betrgt 29.946,00 EUR p","{""salary_low"":29946.0,""salary_high"":29946.0,""s...",vollzeit,closed,de,2024-07-20T03:21:54Z,13-1082.00,Business and Financial Operations,Project Management Specialists,34437.9
166,contentful.com,"Senior Analyst, People Technology - Workday Pa...",https://www.contentful.com/careers/job/6191264,2024-08-19T19:12:56Z,2024-09-04T07:40:14Z,"San Francisco, California, United States","[{""city"":""San Francisco"",""state"":""California"",...","data_analysis, engineering, human_resources",non_manager,"Growth, Social Media, Kanban, HRIS, Contentful...",...,"$171,000 - $190,000","{""salary_low"":171000.0,""salary_high"":190000.0,...","remote, hybrid, full time",NaN,en,2024-09-02T20:53:39Z,43-3051.00,Office and Administrative Support,Payroll and Timekeeping Clerks,180500.0
177,bosch.com,Warehouse Associate (AT1 - 1st shift),https://jobs.smartrecruiters.com/BoschGroup/74...,2024-09-04T02:37:43Z,2024-09-04T05:08:32Z,"Atlanta, Georgia, 30336, United States","[{""city"":""Atlanta"",""state"":""Georgia"",""zip_code...",manual_work,non_manager,"Microsoft, SAP",...,$19.50,"{""salary_low"":19.5,""salary_high"":19.5,""salary_...",full time,NaN,en,2024-09-04T02:41:43Z,53-7065.00,Transportation and Material Moving,Stockers and Order Fillers,40560.0
213,bosch.com,Senior Software Engineer (REF229535I),https://jobs.smartrecruiters.com/BoschGroup/74...,2024-05-29T19:45:03Z,2024-08-09T15:44:15Z,"Sunnyvale, California, 94085, United States","[{""city"":""Sunnyvale"",""state"":""California"",""zip...","engineering, software_development",non_manager,"C++, Linux, Python",...,"$234,062-$245,000/yr","{""salary_low"":234062.0,""salary_high"":245000.0,...",full time,closed,en,2024-08-11T15:49:20Z,15-1252.00,Computer and Mathematical,Software Developers,239531.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9624,bosch.com,Praktikum Logistik w/m/div. (ab September 2024...,https://jobs.smartrecruiters.com/BoschGroup/74...,2024-04-04T12:05:58Z,2024-09-02T12:46:53Z,"Salzburg, Austria","[{""city"":""Salzburg"",""state"":null,""zip_code"":nu...","internship, operations",non_manager,SAP,...,"946,00 EUR","{""salary_low"":946.0,""salary_high"":946.0,""salar...",vollzeit,NaN,de,2024-09-02T12:46:53Z,43-4181.00,Office and Administrative Support,Reservation and Transportation Ticket Agents a...,13054.8
9652,bosch.com,Multi-Modal Foundation Models for Embodied Age...,https://jobs.smartrecruiters.com/BoschGroup/74...,2024-04-26T15:46:58Z,2024-06-19T22:38:31Z,"Pittsburgh, Pennsylvania, United States","[{""city"":""Pittsburgh"",""state"":""Pennsylvania"",""...",NaN,non_manager,"Python, Internship, Google Cloud, Google, Micr...",...,$43.00-$66.00,"{""salary_low"":43.0,""salary_high"":66.0,""salary_...",intern,closed,en,2024-06-21T22:43:17Z,13-1111.00,Business and Financial Operations,Management Analysts,113360.0
9758,zf.com,Packer 2nd shift,https://jobs.zf.com/job/Garrett-Packer-2nd-shi...,2024-08-07T19:31:10Z,2024-08-12T08:36:53Z,"Garrett, Indiana, United States","[{""city"":""Garrett"",""state"":""Indiana"",""zip_code...",manual_work,non_manager,SAP,...,$16.50hour,"{""salary_low"":16.5,""salary_high"":16.5,""salary_...",m/f,closed,en,2024-08-13T20:08:39Z,53-7064.00,Transportation and Material Moving,"Packers and Packagers, Hand",34320.0
9772,bosch.com,Praktikum Technisches Benchmarking / Data Anal...,https://jobs.smartrecruiters.com/BoschGroup/74...,2024-03-15T07:22:38Z,2024-03-22T00:05:05Z,NaN,[],"data_analysis, information_technology",non_manager,Power BI,...,mindestensÊ36.750 EUR p,"{""salary_low"":36750.0,""salary_high"":36750.0,""s...",m/w,closed,de,2024-03-24T00:19:37Z,15-1253.00,Computer and Mathematical,Software Quality Assurance Analysts and Testers,42262.5
9782,zf.com,Head of Marketplace (f/m/d),https://jobs.zf.com/job/Barcelona-Head-of-Mark...,2024-04-17T00:30:22Z,2024-09-02T21:39:46Z,"Barcelona, Spain","[{""city"":""Barcelona"",""state"":null,""zip_code"":n...",management,head,"Growth, SAP, E-Commerce",...,ZF reported sales of Û43,"{""salary_low"":43.0,""salary_high"":43.0,""salary_...","hybrid, m/f",NaN,en,2024-09-02T21:39:46Z,11-2021.00,Management,Marketing Managers,102856.0

In [676]:
# Checking for Incorrect Datatypes

In [677]:
# Checking for Duplicate Data

To ensure that all date-related fields — which include the fields **`First Seen At`**, **`Last Seen At`**, and **`Job Last Processed At`** — are correctly formatted, we check for inconsistencies by attempting to parse them into datetime objects using pd.to_datetime(). Any values that fail to convert (e.g., due to incorrect format or invalid date values) are set to NaT, allowing us to count how many entries are invalid per column.

In [678]:
# Checking for Inconsistent Date Formatting
date_fields = ['First Seen At', 'Last Seen At', 'Job Last Processed At']
date_df = job_posting_df[date_fields].copy()

for col in date_fields:
    date_df[col] = pd.to_datetime(date_df[col], errors='coerce')
    invalid_formats = date_df[col].isna().sum()
    print(f"{invalid_formats} invalid date(s) found in '{col}'")

0 invalid date(s) found in 'First Seen At'
0 invalid date(s) found in 'Last Seen At'
0 invalid date(s) found in 'Job Last Processed At'

Since all the fields involving date and time have been verified to follow **consistent formats** (i.e., no invalid entries), we can proceed to the next step of the pre-processing pipeline.

In [679]:
# Checking for Outliers
# TODO: Check for outliers in the Salary Data Field

## Matplotlibs Charts Visualization

## General Research Question

### EDA Question 1

Both formulaion and answer in the same cell

### EDA Question 2

### EDA Question 3