# Job Posting Data Analysis
In this notebook, the group will be working with the [Job Posting in Singapore](https://www.kaggle.com/datasets/techsalerator/job-posting-data-in-singapore) dataset. This dataset will be used for processing, analyzing, and visualizing data.

This project is carried out by the group **DS NERDS**, under Section **S19**, which consists of the following members:
- Colobong, Franz Andrick
- Chu, Andre Benedict M. 
- Pineda, Mark Gabriel A.
- Rocha, Angelo H. 
  
The output fulfills a part of our requirements for the course Statistical Modeling and Simulation (CSMODEL).

# Import Libraries

In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Dataset Description and Collection Process

This dataset offers a comprehensive overview of job openings across various sectors in Singapore. It provides an essential resource for businesses, job seekers, and labor market analysts, and it can also be a valuable tool for people who would like to be informed about job openings and employment trends in Singapore.

The data was collected by a global data provider called **Techsalerator**, by consolidating and categorizing job-related information from diverse sources, including company websites, job boards, and recruitment agencies. 

Now, let us load the CSV file into our workspace with **'latin1'** encoding as it contains special characters (e.g., é, ñ, ’) that caused a UnicodeDecodeError with the default **'utf-8'** encoding.

In [72]:
job_posting_df = pd.read_csv('Job Posting.csv', encoding='latin1')
job_posting_df.head()

,Website Domain,Ticker,Job Opening Title,Job Opening URL,First Seen At,Last Seen At,Location,Location Data,Category,Seniority,...,Description,Salary,Salary Data,Contract Types,Job Status,Job Language,Job Last Processed At,O*NET Code,O*NET Family,O*NET Occupation Name
0,bosch.com,NaN,IN_RBAI_Assistant Manager_Dispensing Process E...,https://jobs.smartrecruiters.com/BoschGroup/74...,2024-05-29T19:59:45Z,2024-07-31T14:35:44Z,"Indiana, United States","[{""city"":null,""state"":""Indiana"",""zip_code"":nul...","engineering, management, support",manager,...,**IN\_RBAI\_Assistant Manager\_Dispensing Proc...,NaN,"{""salary_low"":null,""salary_high"":null,""salary_...",full time,closed,en,2024-08-02T14:47:55Z,43-1011.00,Office and Administrative Support,First-Line Supervisors of Office and Administr...
1,bosch.com,NaN,Professional Internship: Hardware Development ...,https://jobs.smartrecruiters.com/BoschGroup/74...,2024-05-04T01:00:12Z,2024-07-29T17:46:16Z,"Delaware, United States","[{""city"":null,""state"":""Delaware"",""zip_code"":nu...",internship,non_manager,...,**Professional Internship: Hardware Developmen...,NaN,"{""salary_low"":null,""salary_high"":null,""salary_...","full time, internship, m/f",closed,en,2024-07-31T17:50:07Z,17-2061.00,Architecture and Engineering,Computer Hardware Engineers
2,zf.com,NaN,Process Expert BMS Production,https://jobs.zf.com/job/Shenyang-Process-Exper...,2024-04-19T06:47:24Z,2024-05-16T02:25:08Z,China,"[{""city"":null,""state"":null,""zip_code"":null,""co...",engineering,non_manager,...,ZF is a global technology company supplying sy...,NaN,"{""salary_low"":null,""salary_high"":null,""salary_...",NaN,closed,en,2024-05-18T02:32:04Z,51-9141.00,Production,Semiconductor Processing Technicians
3,bosch.com,NaN,DevOps Developer with Python for ADAS Computin...,https://jobs.smartrecruiters.com/BoschGroup/74...,2024-08-16T10:20:37Z,2024-08-22T11:14:49Z,Romania,"[{""city"":null,""state"":null,""zip_code"":null,""co...","information_technology, software_development",non_manager,...,**DevOps Developer with Python for ADAS Comput...,NaN,"{""salary_low"":null,""salary_high"":null,""salary_...",full time,closed,en,2024-08-23T00:33:30Z,15-1252.00,Computer and Mathematical,Software Developers
4,bosch.com,NaN,Senior Engineer Sales - Video Systems and Solu...,https://jobs.smartrecruiters.com/BoschGroup/74...,2024-07-01T17:31:20Z,2024-08-01T05:11:33Z,India,"[{""city"":null,""state"":null,""zip_code"":null,""co...","engineering, sales",non_manager,...,**Senior Engineer Sales - Video Systems and So...,NaN,"{""salary_low"":null,""salary_high"":null,""salary_...",full time,closed,en,2024-08-02T19:03:16Z,41-9031.00,Sales and Related,Sales Engineers

In [73]:
job_posting_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9919 entries, 0 to 9918
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Website Domain         9919 non-null   object
 1   Ticker                 0 non-null      float64
 2   Job Opening Title      9919 non-null   object
 3   Job Opening URL        9919 non-null   object
 4   First Seen At          9919 non-null   object
 5   Last Seen At           9919 non-null   object
 6   Location               9508 non-null   object
 7   Location Data          9919 non-null   object
 8   Category               8250 non-null   object
 9   Seniority              9919 non-null   object
 10  Keywords               7646 non-null   object
 11  Description            9807 non-null   object
 12  Salary                 576 non-null    object
 13  Salary Data            9919 non-null   object
 14  Contract Types         8004 non-null   object
 15  Job Status             6772 non-null   object
 16  Job Language           9917 non-null   object
 17  Job Last Processed At  9919 non-null   object
 18  O*NET Code             9916 non-null   object
 19  O*NET Family           9916 non-null   object
 20  O*NET Occupation Name  9916 non-null   object
dtypes: float64(1), object(20)
memory usage: 1.6+ MB

In [74]:
# Remove Duplicates
job_posting_df = job_posting_df.drop_duplicates()

In [75]:
# Imputation of data without any contract type and location
# Delete rows without a contract type or a location since this is useless for analyzing


print(job_posting_df[[ 'Location', 'Contract Types']].isnull().sum())

job_posting_df = job_posting_df.dropna(subset=['Location', 'Contract Types'], how='any')

print(job_posting_df[[ 'Location', 'Contract Types']].isnull().sum())

Location           411
Contract Types    1915
dtype: int64
Location          0
Contract Types    0
dtype: int64

In [76]:
# Cleaning Text Fields
# Will be used for categorization later
job_posting_df['O*NET Family'] = job_posting_df['O*NET Family'].str.strip().str.lower()
job_posting_df['Keywords'] = job_posting_df['Keywords'].str.strip().str.lower()
job_posting_df['O*NET Occupation Name'] = job_posting_df['O*NET Occupation Name'].str.strip().str.lower()

In [77]:
#Check values
unique_values_seniority = job_posting_df['Seniority'].unique()
print(unique_values_seniority)

['manager' 'non_manager' 'director' 'head' 'vice_president' 'c_level'
 'partner' 'president']

In [94]:
# Seniority Categorization
seniority_mapping = {
    'non_manager': 'Non-Managerial Position',
    'manager': 'Managerial Position',
    'director': 'Managerial Position',
    'head': 'Managerial Position',
    'vice_president': 'Executive Position',
    'c_level': 'Executive Position',
    'partner': 'Executive Position',
    'president': 'Executive Position',
}

# Map the values and count categories
seniority_categories = job_posting_df['Seniority'].map(seniority_mapping)
seniority_category_counts = seniority_categories.value_counts().sort_index()

print("Seniority Category Counts:")
print(seniority_category_counts)

Seniority Category Counts:
Seniority
Executive Position           17
Managerial Position        1433
Non-Managerial Position    6173
Name: count, dtype: int64

In [93]:
unique_job_fields = job_posting_df['O*NET Family'].unique()
print(unique_job_fields)

['office and administrative support' 'architecture and engineering'
 'computer and mathematical' 'sales and related'
 'installation, maintenance, and repair'
 'business and financial operations' 'production'
 'life, physical, and social science' 'management'
 'community and social service' 'transportation and material moving'
 'healthcare practitioners and technical' 'personal care and service'
 'educational instruction and library' 'construction and extraction'
 'arts, design, entertainment, sports, and media'
 'food preparation and serving related' 'protective service'
 'military specific' 'legal' 'healthcare support'
 'farming, fishing, and forestry'
 'building and grounds cleaning and maintenance' nan]

In [99]:
job_fields_mapping = {
    'office and administrative support' : 'Business and Administration',
    'architecture and engineering': 'Engineering and Construction',
    'computer and mathematical' : 'Technology',
    'sales and related': 'Business and Administration',    
    'installation, maintenance, and repair': 'Facilities Management and Services',
    'business and financial operations' : 'Business and Administration',
    'production': 'Manufacturing',
    'life, physical, and social science' : 'Science and Research',
    'management': 'Business and Administration',
    'community and social service' : 'Public Service',
    'transportation and material moving': 'Transportation and Logistics',
    'healthcare practitioners and technical' : 'Healthcare',
    'personal care and service': 'Healthcare',
    'educational instruction and library' : 'Education',
    'construction and extraction': 'Engineering and Construction',
    'arts, design, entertainment, sports, and media': 'Multimedia and Sports',
    'food preparation and serving related' : 'Facilities Management and Services',
    'protective service': 'Government and Public Safety',
    'military specific' : 'Government and Public Safety',
    'legal' : 'Legal Services',
    'healthcare support': 'Healthcare',
    'farming, fishing, and forestry': 'Agriculture and Natural Resources',
    'building and grounds cleaning and maintenance': 'Facilities Management and Services', 
    'nan' : 'Others'
}

job_fields_categories = job_posting_df['O*NET Family'].map(job_fields_mapping)
job_fields_category_counts = job_fields_categories.value_counts().sort_index()
print(job_fields_category_counts)

O*NET Family
Agriculture and Natural Resources       12
Business and Administration           2861
Education                              247
Engineering and Construction          1202
Facilities Management and Services     285
Government and Public Safety            53
Healthcare                             238
Legal Services                          18
Manufacturing                          669
Multimedia and Sports                   84
Public Service                          33
Science and Research                   269
Technology                            1342
Transportation and Logistics           308
Name: count, dtype: int64

In [100]:
unique_locations = job_posting_df['Location'].unique()
print(unique_locations)

['Indiana, United States' 'Delaware, United States' 'Romania' 'India'
 'Yokohama, Japan' 'Lincolnton, North Carolina, 28092, United States'
 'Hanau, Germany' 'Campinas, Brazil'
 'Charleston, South Carolina, 29418, United States'
 'Tennessee, United States'
 'Fort Lauderdale, Florida, 33309, United States' 'Singapore, Singapore'
 'United Kingdom' 'France' 'Albion, Indiana, 46701, United States'
 'Madrid, Spain' 'Bangalore, India' 'Brazil' 'Vietnam' 'Malaysia'
 'Anderson, South Carolina, 29621, United States' 'Debrecen, Hungary'
 'Pamplona, Spain' 'Bursa, Turkey' 'Salzburg, Austria' 'Slovenia'
 'Germany' 'Vernon Hills, Illinois, 60061, United States'
 'London, United Kingdom' 'Tokyo, Japan' 'Australia'
 'Massachusetts, United States' 'Northville, Michigan, United States'
 'Portugal' 'Osnabr\x9fck, Germany' 'Berlin, Germany' 'Budapest, Hungary'
 'Beijing, China' '_esk\x8e Bud_jovice, Czechia'
 'Chandler, Arizona, 85226, United States'
 'Auburn Hills, Michigan, 48326, United States'
 'Hartland, Wisconsin, United States' 'Vilnius, Lithuania' 'Mexico'
 'Mississippi, United States' 'Shibuya, Japan' 'Dublin, Ireland'
 'Shanghai, China' 'Vigo, Spain' 'Houston, Texas, 77061, United States'
 'Nebraska, United States' 'Barcelona, Spain' 'Cz_stochowa, Poland'
 'South Carolina, United States'
 'Mount Prospect, Illinois, 60056, United States' 'Sydney, Australia'
 'Owatonna, Minnesota, 55060, United States' 'Belgium' 'Aveiro, Portugal'
 'Leverkusen, Germany' 'Virginia, United States' 'Passau, Germany'
 'Bamberg, Germany' 'Bentonville, Arkansas, United States'
 'Michigan, United States'
 'Northville, Michigan, United States, South America'
 'Bogot\x87, Colombia' 'San Francisco, California, United States'
 'Georgia, United States' 'Rolla, Missouri, 65401, United States'
 'Atlanta, Georgia, 30336, United States'
 'Charlotte, North Carolina, 28273, United States'
 'Mankato, Minnesota, 56003, United States' 'Monterrey, Mexico'
 'United States' 'Japan' 'Pune, India' 'Belo Horizonte, Brazil' 'Chile'
 'Bekasi, Indonesia' 'Eger, Hungary' 'Mesa, Arizona, 85212, United States'
 'California, United States' 'Burnsville, Minnesota, United States'
 'Timi_oara, Romania' 'Sunnyvale, California, 94085, United States'
 'Pan_evo, Serbia' 'Plymouth, Michigan, 48170, United States'
 'Tuscaloosa, Alabama, United States' 'Czechia'
 'Rolla, Missouri, United States' 'Friedrichshafen, Germany'
 'Brandenburg, Germany' 'Bethlehem, Pennsylvania, 18017, United States'
 'Farmington Hills, Michigan, 48331, United States'
 'Charlotte, North Carolina, United States' 'Bucharest, Romania'
 'Mankato, Minnesota, United States' 'Chennai, India'
 'Lafayette, Indiana, 47904, United States' 'Maine, United States'
 'Thailand' 'Hannover, Germany' 'North Carolina, United States'
 'Villa Park, Illinois, 60181, United States' 'Poland'
 'Niagara, New York, United States' 'Hungary'
 'Fairport, New York, 14450, United States'
 'Denver, Colorado, United States' 'Turkey' 'Florida, United States'
 'Utrecht, Netherlands' 'Nederland, Texas, United States'
 'Chihuahua, Mexico' 'Armenia' 'August, California, United States'
 'S\x8bo Paulo, Brazil' 'Nevada, United States'
 'Wartburg, Tennessee, 37887, United States' 'Ponte de Lima, Portugal'
 'Washington, Michigan, 48094, United States'
 'Buford, Georgia, 30518, United States' 'Netherlands'
 'Minneapolis, Minnesota, United States' 'Arkansas, United States'
 'Gothenburg, Sweden' 'Rayong, Thailand' 'Stuttgart, Germany' 'Egypt'
 'Serbia' 'Greece' 'Koblenz, Germany' 'Ghana' 'Hanoi, Vietnam'
 'Charleston, South Carolina, United States' 'Austria'
 'Japan, Northern America' 'New York, United States' 'Europe'
 'Plze_, Czechia' 'Paris, France' 'Dortmund, Germany'
 'Burnsville, Minnesota, 55337, United States' 'Chengdu, China'
 'Atlanta, Georgia, United States' 'Bitterfeld, Germany'
 'Neuwied, Germany' 'Canada' 'Morocco'
 'Boston, Massachusetts, United States'
 'Pleasanton, California, 94566, United States' 'Guangzhou, China'
 'Suzhou, China' 'Marysville, Michigan, United States'
 'Anderlecht, Belgium' 'Stamford, Connecticut, United States'
 'Saarbr\x9fcken, Germany' 'Denmark' 'Celaya, Mexico'
 'Texas, United States' 'Florence, Kentucky, 41042, United States'
 'Istanbul, Turkey' 'Hoffman Estates, Illinois, 60192, United States'
 'Changsha, China' 'Linz, Austria' 'Illinois, United States' 'New Zealand'
 'Manisa, Turkey' 'Almaty, Kazakhstan' 'Minnesota, United States'
 'Fountain Inn, South Carolina, 29644, United States'
 'Oak Brook, Illinois, United States'
 'Walnut Ridge, Arkansas, 72476, United States'
 'Lafayette, Indiana, United States' 'Louisiana, United States'
 'Mexico City, Mexico' 'Pforzheim, Germany' 'Quer\x8etaro, Mexico'
 'Ju\x87rez, Mexico' 'Idaho, United States'
 'Livonia, Michigan, 48150, United States' 'Ansbach, Germany'
 'Watertown, Massachusetts, 02472, United States' 'Eisenach, Germany'
 '_zmir, Turkey' 'Braunschweig, Germany' 'Italy' 'Changzhou, China'
 'Atlantic, Iowa, United States' 'Wroc_aw, Poland'
 'South Dakota, United States' 'Auckland, New Zealand' 'Spain'
 'Grove City, Ohio, 43123, United States'
 'Livonia, Michigan, United States' 'Trnava, Slovakia' 'Caen, France'
 'San Luis Potos\x92, Mexico' 'South Africa, Southern Africa'
 'Ho Chi Minh City, Vietnam' 'Switzerland'
 'Garrett, Indiana, United States' 'Warsaw, Poland'
 'Chicago, Illinois, United States' 'Slovakia' 'Colorado, United States'
 'Dresden, Germany' 'Santa Fe, Argentina' 'Bh_vnagar, India'
 'Allentown, Pennsylvania, United States'
 'Saint Joseph, Michigan, 49085, United States'
 'Hartland, Wisconsin, 53029, United States'
 'Tulsa, Oklahoma, United States' 'Mechelen, Belgium'
 'Amsterdam, Netherlands' 'D\x9fsseldorf, Germany' 'Saitama, Japan'
 'Gainesville, Georgia, United States' 'Eindhoven, Netherlands'
 'Petaling Jaya, Malaysia' 'Nottingham, United Kingdom'
 'Pennsylvania, United States'
 'Roseville, California, 95747, United States'
 'Memphis, Tennessee, United States'
 'Shelby, North Carolina, 28152, United States' 'Manila, Philippines'
 'North Charleston, South Carolina, 29418, United States'
 'Coimbatore, India' 'Ingolstadt, Germany'
 'Greenville, South Carolina, 29645, United States'
 'Fort Lauderdale, Florida, United States'
 'Munster, Indiana, United States' 'Braga, Portugal' 'Cartago, Costa Rica'
 'Flowery Branch, Georgia, 30542, United States'
 'Corpus Christi, Texas, 78406, United States'
 'Dayton, Ohio, United States' 'Aachen, Germany'
 'Tampa, Florida, 33607, United States'
 'Laredo, Texas, 78045, United States' 'New York, New York, United States'
 'Atlanta, Georgia, 30324, United States' 'Tsuchiura, Japan'
 'Braselton, Georgia, United States' 'Bonn, Germany'
 'Lincolnshire, Illinois, 60069, United States' 'Georgia'
 'Austin, Texas, United States'
 'Philadelphia, Pennsylvania, United States'
 'Rio Bravo, Texas, United States' 'Brits, South Africa, Southern Africa'
 'Castelo Branco, Portugal' 'Anna, Texas, United States' 'Indonesia'
 'Port Huron, Michigan, United States' 'Wuhan, China' 'Cali, Colombia'
 'Farmington Hills, Michigan, United States' 'Northern America'
 'Raleigh, North Carolina, United States' 'Ireland' 'Manila, Mexico City'
 'Heilbronn, Germany' 'Conshohocken, Pennsylvania, 19428, United States'
 'Jacksonville, Florida, United States' 'Kecskem\x8et, Hungary'
 'Straubing, Germany' 'Tampa, Florida, United States'
 'Summerville, South Carolina, 29483, United States'
 'G\x97mez Palacio, Mexico' 'Reutlingen, Germany' 'Toluca, Mexico'
 'Nasushiobara, Japan' 'Washington, District of Columbia, United States'
 'Reynosa, Mexico' 'Klagenfurt, Austria' 'Houston, Texas, United States'
 'Jiaxing, China' 'Brussels, Belgium' 'Vernon, Canada'
 'Arizona, United States' 'Guadalajara, Mexico' 'Ankara, Turkey'
 'Fairport, New York, United States' 'Hyder_b_d, India'
 'Jersey City, New Jersey, United States'
 'Lincolnton, North Carolina, United States' 'Washington, United States'
 'Bochum, Germany' 'Bayreuth, Germany' 'Antwerp, Belgium'
 'Sofia, Bulgaria' 'Phoenix, Arizona, United States' 'Hangzhou, China'
 'Socorro, Texas, 79927, United States' 'New Hampshire, United States'
 'Pittsburgh, Pennsylvania, 15222, United States'
 'Decatur, Illinois, 62441, United States' 'Sri Lanka'
 'Montana, United States' 'Detroit, Michigan, 48326, United States'
 'Windsor, Canada' 'Novi Sad, Serbia' 'Miami, Florida, United States'
 'Jamshedpur, India' 'Solihull, United Kingdom'
 'Mechanicsville, Virginia, 23111, United States'
 'Fountain Inn, South Carolina, United States' 'Bengaluru, India'
 'El Paso, Texas, United States' 'Auburn, Alabama, United States'
 'Frankfurt, Germany' 'Campo Grande, Brazil'
 'Boston, Massachusetts, 02215, United States' 'Oeiras, Portugal'
 'Greer, South Carolina, 29651, United States' 'Calama, Chile'
 'Puteaux, France' 'Gelsenkirchen, Germany'
 'Chicago, Illinois, 60061, United States' 'Kocaeli, Turkey'
 'Marysville, Michigan, 48040, United States' 'China'
 'Schweinfurt, Germany' 'Sakarya, Turkey' 'Innsbruck, Austria'
 'Sumar\x8e, Brazil' 'Seattle, Washington, United States'
 'C_l_ra_i, Romania' 'Qingdao, China'
 'Plymouth, Michigan, 48073, United States' 'Asia' 'Panama'
 'Anderson, South Carolina, United States'
 'Grand Rapids, Michigan, 49512, United States' 'Bourges, France'
 'Brno, Czech Republic' 'Saint Paul, Minnesota, 55127, United States'
 'Z\x9frich, Switzerland' 'Duncan, Canada'
 'Baltimore, Maryland, United States' 'CA, India' 'Craiova, Romania'
 'Burlington, Canada' 'Wisconsin, United States'
 'Roseville, California, 95678, United States'
 'High Point, North Carolina, 27263, United States'
 'Welcome, South Carolina, United States' 'Set\x9cbal, Portugal'
 'Wetzlar, Germany' 'Bern, Switzerland' 'Dornbirn, Austria'
 'Salamanca, Spain' 'Vienna, Austria' 'Faro, Portugal' 'Ambato, Ecuador'
 'Lancaster, Pennsylvania, United States' 'Chongqing, China'
 'Chicago, Illinois, 60061, United States, Northern America'
 'Ramos Arizpe, Mexico' 'Santa Barbara, California, United States'
 'Munich, Germany' 'Bologna, Italy' 'Finland' 'Zwolle, Netherlands'
 'Milan, Italy' 'Oregon, United States' 'Tlaquepaque, Mexico'
 'Magdeburg, Germany' 'Immenstadt, Germany'
 'Hebron, Kentucky, 41048, United States' 'Chad' 'Czech' 'Colombia'
 'Lisbon, Portugal' 'Hawaii, United States' 'Gliwice, Poland'
 'Ravensburg, Germany' 'Augsburg, Germany' 'Sibiu, Romania'
 'Dubai, United Arab Emirates' 'New York, 11433, United States'
 'Salt Lake City, Utah, United States'
 'Allen Park, Michigan, 48101, United States'
 'San Antonio, Texas, United States'
 'Santa Fe Springs, California, United States' 'Athens, Greece'
 'Santa Fe Springs, California, 90670, United States'
 'Fridley, Minnesota, 55421, United States' 'San, Mali'
 'Kalamazoo, Michigan, 49009, United States' 'Costa Rica' 'Amiens, France'
 'Antofagasta, Chile' 'Edmonton, Alberta, Canada' 'Bandung, Indonesia'
 'Kranj, Slovenia' 'Morrisville, Pennsylvania, 19067, United States'
 'Gaithersburg, Maryland, 20878, United States' 'Weihai, China'
 'Detroit, Michigan, United States' 'Jaipur, India'
 'Gainesville, Georgia, 30501, United States' 'Bras\x92lia, Brazil'
 'Lancaster, Pennsylvania, 17601, United States'
 'Los Angeles, California, United States'
 'San Diego, California, United States' 'R_jkot, India'
 'Hoffman Estates, Illinois, United States'
 'Jamaica, New York, 11430, United States'
 'Lincoln, Nebraska, 68507, United States'
 'Hebron, Kentucky, United States' 'LA, Chile' 'Bulgaria'
 'Dallas, Texas, United States' 'Vermont, United States'
 'Connecticut, United States' 'Peru, Indiana, 46970, United States'
 'Prague, Czech Republic' 'Ohio, United States'
 'Fenton, Michigan, 48430, United States' 'Porto, Portugal'
 'Londonderry, New Hampshire, 03053, United States' 'Hamamatsu, Japan'
 'Miramar, Florida, United States' 'B_li, India'
 'Mooresville, North Carolina, 28117, United States'
 'Bethlehem, Pennsylvania, 18020, United States' 'Vernier, Switzerland'
 'Turin, Italy' 'Wilmington, North Carolina, 28405, United States'
 'Busan, South Korea' 'Graz, Austria'
 'Tuscaloosa, Alabama, 35401, United States' 'Aschaffenburg, Germany'
 'France, United Kingdom' 'Zaria, Nigeria'
 'S\x8bo Bernardo do Campo, Brazil' 'Shah Alam, Malaysia' 'Trujillo, Peru'
 'Leipzig, Germany' 'Unity, Pennsylvania, United States'
 'Belgrade, Serbia' 'Portland, Oregon, United States'
 'Plymouth, Michigan, United States' 'Hagen, Germany' 'Alicante, Spain'
 'Viseu, Portugal' 'Toyota, Japan' 'Bielefeld, Germany' 'Wuxi, China'
 'Prague, Czechia' 'Alexandria, Egypt' 'Wilde, Argentina'
 'Orlando, Florida, United States' 'Lille, France'
 'Socorro, Texas, United States' 'Sacramento, California, United States'
 'Arras, France' 'Mut, Turkey' 'Detroit, Michigan, 48836, United States'
 'Nigeria' 'Vila Real, Portugal' 'Accra, Ghana'
 'Southampton, Pennsylvania, 18966, United States'
 'Florence, Kentucky, United States' 'Kaunas, Lithuania'
 'Pittsburgh, Pennsylvania, United States' 'Bordeaux, France'
 'North Charleston, South Carolina, United States' 'Gie§en, Germany'
 'Bratislava, Slovakia' 'Northern America, North America' 'Tochigi, Japan']

## Potential Implications of the Data

## Structure of the Data

## Key Data Fields

This section provides a brief description of the key attributes present in the dataset:


- **Job Posting Date**: Captures the date a job is listed. This is crucial for job seekers and HR professionals to stay updated on the latest opportunities and trends.

- **Job Title**: Specifies the position being advertised. This helps in categorizing and filtering job openings based on industry roles and career interests.

- **Company Name**: Lists the hiring company. This information assists job seekers in targeting their applications and helps businesses track competitors and market trends.

- **Job Location**: Provides the job's geographic location within Singapore. Job seekers use this to find opportunities in specific areas, while employers analyze regional talent and market conditions.

- **Job Description**: Includes details about responsibilities, required qualifications, and other relevant aspects. This is vital for candidates to determine if they meet the requirements and for recruiters to communicate expectations clearly.

## General Research Question

In [ ]:
# Checking for Multiple Data Representation of the same Categorical Values

In [ ]:
# Checking for Incorrect Datatypes

In [ ]:
# Checking for Missing/Null Values

In [ ]:
# Checking for Duplicate Data

In [ ]:
# Checking for Inconsistent Data

In [ ]:
# Checking for Outliers

## Matplotlibs Charts Visualization

### EDA Question 1

Both formulaion and answer in the same cell

### EDA Question 2

### EDA Question 3